<% include ../layout/header %>

    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Customer
            </span>
                <button type="submit" class="btn-blue" id="adduser" data-toggle="modal" data-target="#myModa-adduser">
                <img class="seticonadd" src="/themes/img/admin/add.png"> Add User</button>

                <span class="setsearch">
                <input type="text" onkeyup="searchFunc()" id="inputsearch-customer" name="search" placeholder="Search...">
                <span class="form-control-feedback2" aria-hidden="true">
                    <img src="/themes/img/admin/search.png">
                </span>
                </span>
            </div>
        </div>
        <div class="showall row row1">
            <a href="/admin/customer"> <span>All (<%=dataAll.length%>) |</span></a>
            <a href="/admin/customer?con=affiliate"><span class="colora">Affiliate</span></a> (
            <%=dataUser.length%>) |
                <a href="/admin/customer?con=deactive"> <span class="colora">Deactive</span></a>(
                <%=userDeactive.length%>) |
                    <a href="/admin/customer?con=blocked"><span class="colora">Blocked</span></a> (
                    <%=userBocked.length%>)
        </div>
        <div id="filter-table-appversion" class="row row1">
            <span class="table-show">Show</span>
            <div id="filter-number" class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle btn-filternumber" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="span-show-number" class="span-button-select">18</span>
            <span class="caret arow-button-select"></span>
        </button>
                <ul class="dropdown-menu">
                    <li id="show9">
                        <a href="#">9 Per page</a>
                    </li>
                    <li id="show18">
                        <a href="#">18 Per page</a>
                    </li>
                    <li id="show27">
                        <a href="#">27 Per page</a>
                    </li>
                    <li id="show36">
                        <a href="#">36 Per page</a>
                    </li>

                </ul>
            </div>
            <div id="filter-date" class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="span-selcect-date" class="span-button-select">All Dates</span>
            <span class="caret arow-button-select"></span>
        </button>
                <ul class="dropdown-menu">
                    <li id="select-date-1">
                        <a href="#">Hours Ago</a>
                    </li>
                    <li id="select-date-2">
                        <a href="#">Yesterday</a>
                    </li>
                    <li id="select-date-3">
                        <a href="#">Last Weed</a>
                    </li>
                    <li id="select-date-4">
                        <a href="#">All Dates</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li id="select-date-5">
                        <input hidden id="fillter-date-custom" value="">
                        <a href="#">Custom...</a>
                    </li>
                </ul>
            </div>

            <div class="pagination-table-appversion1 row">
                <ul class="pagination">
                    <li class="edit-li-pagination">
                        <a class="number-items" href="javascript:void(0)"></a>
                    </li>
                    <li class="limitsuperback">
                        <a class="limitpagination" href="javascript:void(0)">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="superback">
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="backpage">
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="limitback">
                        <a class="limitpagination" href="javascript:void(0)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="thispage" href="javascript:void(0)">

                        </a>
                    </li>
                    <li class="edit-li-pagination">
                        <a class="numberpage" href="javascript:void(0)">
                        </a>
                    </li>
                    <li class="limitnext">
                        <a class="limitpagination" href="javascript:void(0)">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nextpage">
                        <a href="#">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="supernext">
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="limitsupernext">
                        <a class="limitpagination" href="javascript:void(0)">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row1">
            <div id="content-appversion">
                <div class="multi-option">
                    <div class="input-group ">
                        <button data-toggle="dropdown" class="btn btn-white dropmenu-multi-option" type="button" aria-expanded="true">Bulk actions <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- data-toggle="modal" data-target="#mymodal-blockuser" -->
                                <a href="javascript:void(0)" id="btn-block-multi"><img src="/themes/img/admin/blockmultioption.png" class="img-option-multi" alt="Block selected"> &nbsp;<span>Block selected</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" id="btn-delete-multi"><img src="/themes/img/admin/deletemultioption.png" class="img-option-multi" alt="Delete selected"> &nbsp;<span>Delete selected</span></a>
                            </li>
                        </ul>
                    </div>

                </div>

                <table id="table-appversion">
                    <tr id="title-table-header">
                        <th width="5.8%"><input type="checkbox" id="checkboxall"></th>
                        <th width="7.8%">#</th>
                        <th width="13%">Avatar
                            <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp">
                        </th>
                        <th width="12.2%">First name
                            <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp">
                        </th>
                        <th width="12.2%">Last name
                            <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp">
                        </th>
                        <th width="25.2%">Email
                            <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp">
                        </th>
                        <th width="15%">Date added
                            <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp">
                        </th>
                        <th width="10%">Login
                        </th>
                        <th width="15.8%">
                        </th>
                    </tr>
                    <tbody>
                        <%var dem=1;%>
                            <% dataUser.forEach(function(item){%>
                                <tr id="" class="tr-content-appversion">
                                    <td><input type="checkbox" name="name[]" id="<%=item.id%>"></td>
                                    <td class="">
                                        <%=dem%>
                                    </td>
                                    <td class="table-nameapp ">
                                        <%if(!item.picture){%>
                                            <img class="imgavatarsmall1" src="/themes/img/admin/avatar.png" alt="avatar">
                                            <%}else{%>
                                                <img class="imgavatarsmallcircle" src="/themes/img/profile/<%=item.picture%>" alt="avatar">
                                                <%}%>
                                    </td>
                                    <td class="table-version">
                                        <span><%=item.firstname%></span>
                                    </td>
                                    <td class="table-version">
                                        <span><%=item.lastname%></span>
                                    </td>
                                    <td class="table-changelog">
                                        <span><%=item.email%></span>
                                    </td>
                                    <td class="table-time-appversion finddate">
                                        <span><%=moment(item.dateCreate).format('DD/MM/YYYY HH:mm:ss')%></span>
                                    </td>
                                    <td>
                                        <a href="/admin/customer/login/<%=item.id%>" target="_blank" class="btn-login-customer">
                                            <img class="login-first" src="/themes/img/admin/login.png" alt="login customer">
                                            <img class="login-second" src="/themes/img/admin/loginactive.png" alt="login customer">
                                        </a>
                                    </td>
                                    <td class="set-position-relative">
                                        <img class="setimg-head-myapp more-menu" src="/themes/img/admin/moreoption.png">
                                        <div class="box-more-menu" style="display:none">
                                            <a href="/admin/customer/edit/<%=item.id%>">
                                                <div class="element-delete">
                                                    <div class="box-edit-customer box-option-customer">
                                                        <div class="left-box-item">
                                                            <img class="imgicondelete" src="/themes/img/admin/edit.png">
                                                            <span>Edit</span>
                                                        </div>
                                                    </div>
                                            </a>
                                            <%if(item.blocked==true){%>
                                                <a href="javascript:void(0)" class="unblock-user" onclick="unblockUser('<%=item.id%>')">
                                                    <div class="box-edit-customer box-option-customer">
                                                        <div class="left-box-item">
                                                            <img class="imgicondelete" src="/themes/img/admin/unblock.png">
                                                            <span>Unblock</span>
                                                        </div>
                                                    </div>
                                                </a>
                                                <%}else{%>
                                                    <a href="javascript:void(0)" onclick="blockUser('<%=item.id%>')">
                                                        <div class="box-edit-customer box-option-customer">
                                                            <div class="left-box-item">
                                                                <img class="imgicondelete" src="/themes/img/admin/block.png">
                                                                <span>Block</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <%}%>
                                                        <a href="javascript:void(0)" onclick="deleteUser('<%=item.id%>')">
                                                            <div class="box-edit-customer box-option-customer">
                                                                <div class="left-box-item">
                                                                    <img class="imgicondelete" src="/themes/img/admin/delete.png">
                                                                    <span>Delete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        </div>

                                                        <div class="arrowmenuuser-left">
                                                        </div>
                                                        <div class="arrowmenuuser-left1">
                                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <% dem++;})%>
                    </tbody>
                </table>

                <div class="example">
                    <div class="container">
                        <div class="pagination-table-appversion row">
                            <ul class="pagination">
                                <li class="edit-li-pagination">
                                    <a class="number-items" href="javascript:void(0)"></a>
                                </li>
                                <li class="limitsuperback ">
                                    <a class="limitpagination" href="javascript:void(0)">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="superback">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="backpage">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="limitback">
                                    <a class="limitpagination" href="javascript:void(0)">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="thispage" href="javascript:void(0)">

                                    </a>
                                </li>
                                <li class="edit-li-pagination">
                                    <a class="numberpage" href="javascript:void(0)">
                                    </a>
                                </li>
                                <li class="limitnext">
                                    <a class="limitpagination" href="javascript:void(0)">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nextpage">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="supernext">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="limitsupernext">
                                    <a class="limitpagination" href="javascript:void(0)">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <span class="showing-footer">Showing 1-
                <span id="number-show-footer"></span> of
            <span class="number-items" href="javascript:void(0)"></span>
            </span>

            <div class="container">
                <div class="modal fade" id="mymodal-deleteuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to Delete this account?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="delete-ok">Delete</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal fade" id="mymodal-deleteusermulti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to delete the selected accounts?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="delete-ok-multi" class="btn-delete-ok">Delete</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-blockuser">
                <div class="modal fade" id="mymodal-blockuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to block the accounts you have selected?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="block-ok" class="btn-block-ok">Block</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container box-blockuser">
                <div class="modal fade" id="mymodal-blockusermulti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to block the accounts you have selected?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="block-ok-multi" class="btn-block-ok">Block</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-unblockuser">
                <div class="modal fade" id="mymodal-unblockuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to unblock this account?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="unblock-ok">Unblock</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal fade" id="mymodal-warring" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    No item selected!
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button type="button" data-dismiss="modal" aria-label="Close" id="ok-empty">Ok</button>
                                    <!-- <button type="button "  data-dismiss="modal " aria-label="Close ">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="modal fade " id="myModa-adduser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head-history ">
                                    Add a User
                                </div>
                                <form id="form-adduser" onsubmit="return false">
                                    <textarea placeholder="Email address" rows="1" class="textarea-adduser" id="input-add-customer"></textarea>
                                    <div class="dialogdeleteapp-foot-history ">
                                        <button id="cancel-adduser" class="float-right btn-gray margin-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                        <button type="submit" class="float-right btn-blue" id="adduser">Add user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>

    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/customer.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/appversion/pagination.js "></script>