<% include ../layout/header %>

    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Customer
            </span>
                <button type="submit" class="btn-blue" id="adduser" data-toggle="modal" data-target="#myModa-adduser">
                <img class="seticonadd" src="/themes/img/admin/add.png"> Add User</button>


            </div>
        </div>
        <div class="showall row row1">
            <a href="/admin/customer"> <span>All (<%=dataAll.length%>) |</span></a>
            <a href="/admin/customer?con=affiliate"><span class="colora">Affiliate</span></a> (
            <%=affiliateData.length%>) |
                <a href="/admin/customer?con=deactive"> <span class="colora">Deactive</span></a>(
                <%=userDeactive.length%>) |
                    <a href="/admin/customer?con=blocked"><span class="colora">Blocked</span></a> (
                    <%=userBocked.length%>)
        </div>


        <div id="filter-table-appversion" class="row row1">
            <div class="filter-left">
                <span class="table-show">Show: </span>
                <div id="filter-number" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle btn-filternumber btn-shownum-perpage" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="span-show-number" class="span-button-select">9</span> &nbsp;
                        <span class="caret arow-button-select"></span>
                    </button>
                    <ul class="dropdown-menu ">
                        <li id="show9perpage">
                            <a href="javascript:void(0)">9 Per page</a>
                        </li>
                        <li id="show18perpage">
                            <a href="javascript:void(0)">18 Per page</a>
                        </li>
                        <li id="show27perpage">
                            <a href="javascript:void(0)">27 Per page</a>
                        </li>
                        <li id="show36perpage">
                            <a href="javascript:void(0)">36 Per page</a>
                        </li>

                    </ul>
                </div>
                <div id="filter-date" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="span-selcect-date" class="span-button-select">All Dates</span>
                        <span class="caret arow-button-select"></span>
                        <input type="hidden" id="type-fill-date" value="4">
                    </button>
                    <ul class="dropdown-menu">
                        <li id="filter-date-hoursago">
                            <a href="javascript:void(0)">Hours Ago</a>
                        </li>
                        <li id="filter-date-yesterday">
                            <a href="javascript:void(0)">Yesterday</a>
                        </li>
                        <li id="filter-date-lastweek">
                            <a href="javascript:void(0)">Last Week</a>
                        </li>
                        <li id="filter-date-all">
                            <a href="javascript:void(0)">All Dates</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="filter-date-custom">
                            <input type="hidden" id="filter-date-custom-start" value="">
                            <input type="hidden" id="filter-date-custom-end" value="">
                            <a href="javascript:void(0)">Custom...</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-page-right">
                <div class="pagination-table-deploy ">
                    <ul class="pagination">
                        <li class="edit-li-pagination">
                            <span id="totalitems" class="totalitems"></span>
                        </li>
                        <li class="btnfirstpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnprevpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                        </li>
                        <li class="edit-li-pagination">
                            <span class="totalpage totalpagetext" href="javascript:void(0)">
                            </span>
                        </li>
                        <li class="btnnextpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnlastpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="row row1">
            <div id="content-appversion">
                <div class="multi-option">
                    <div class="input-group box-bulk-actions">
                        <button data-toggle="dropdown" class="btn btn-white dropmenu-multi-option" type="button" aria-expanded="true">Bulk actions <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- data-toggle="modal" data-target="#mymodal-blockuser" -->
                                <a href="javascript:void(0)" id="btn-block-multi"><img src="/themes/img/admin/blockmultioption.png" class="img-option-multi" alt="Block selected"> &nbsp;&nbsp;<span>Block selected</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" id="btn-delete-multi"><img src="/themes/img/admin/deletemultioption.png" class="img-option-multi" alt="Delete selected"> &nbsp;<span>Delete selected</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-search">
                        <span class="setsearch">
                                <img src="/themes/img/admin/search.png" class="img-search-text">
                            <input type="text" onkeyup="searchFunc()" id="inputsearch-customer" class="inputsearch-customer search-in-box" name="search" placeholder="Search...">                            
                        </span>
                    </div>
                </div>

                <hr>
                <table id="table-appversion">
                    <thead>
                        <tr id="title-table-header">
                            <th width="5.8%"><input type="checkbox" id="checkboxall"></th>
                            <th width="7.8%">#</th>
                            <th width="13%">Avatar
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="12.2%">First name
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="12.2%">Last name
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="25.2%">Email
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="15%">Date added
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="10%">Login
                            </th>
                            <th width="15.8%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%var dem=1;%>
                            <% dataUser.forEach(function(item){%>
                                <tr id="" class="tr-content-appversion trrecord">
                                    <td><input type="checkbox" name="name[]" class="arrcheckbox" id="<%=item.id%>"></td>
                                    <td class="">
                                        <span class="numberorder"><%=dem%></span>
                                    </td>
                                    <td class="table-nameapp ">
                                        <%if(!item.picture){%>
                                            <img class="imgavatarsmall1" src="/themes/img/admin/avatar.png" alt="avatar">
                                            <%}else{%>
                                                <img class="imgavatarsmallcircle" src="/themes/img/profile/<%=item.picture%>" alt="avatar">
                                                <%}%>
                                    </td>
                                    <td class="table-version">
                                        <span><%=item.firstname%></span>
                                    </td>
                                    <td class="table-version">
                                        <span><%=item.lastname%></span>
                                    </td>
                                    <td class="table-changelog">
                                        <span class="color-email-customer"><%=item.email%></span>
                                    </td>
                                    <td class="table-time-appversion adminfilldate">
                                        <span></span>
                                        <input class="admin-datecreate" type="hidden" value="<%=item.dateCreate%>">
                                    </td>
                                    <td>
                                        <a href="/admin/customer/login/<%=item.id%>" target="_blank" class="btn-login-customer">
                                            <img class="login-first" src="/themes/img/admin/login.png" alt="login customer">
                                            <img class="login-second" src="/themes/img/admin/loginactive.png" alt="login customer">
                                        </a>
                                    </td>
                                    <td class="set-position-relative">
                                        <img class="setimg-head-myapp more-menu" src="/themes/img/admin/moreoption.png">
                                        <div class="box-more-menu" style="display:none">
                                            <a href="/admin/customer/edit/<%=item.id%>">
                                                <div class="element-delete">
                                                    <div class="box-edit-customer box-option-customer">
                                                        <div class="left-box-item">
                                                            <img class="imgicondelete" src="/themes/img/admin/iconedit.png">
                                                            <span class="text-none">Edit</span>
                                                        </div>
                                                    </div>
                                            </a>
                                            <%if(item.blocked==true){%>
                                                <a href="javascript:void(0)" class="unblock-user" onclick="unblockUser('<%=item.id%>')">
                                                    <div class="box-edit-customer box-option-customer">
                                                        <div class="left-box-item">
                                                            <img class="imgicondelete" src="/themes/img/admin/iconunblock.png">
                                                            <span class="text-none">Unblock</span>
                                                        </div>
                                                    </div>
                                                </a>
                                                <%}else{%>
                                                    <a href="javascript:void(0)" onclick="blockUser('<%=item.id%>')">
                                                        <div class="box-edit-customer box-option-customer">
                                                            <div class="left-box-item">
                                                                <img class="imgicondelete" src="/themes/img/admin/iconblock.png">
                                                                <span class="text-none">Block</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <%}%>
                                                        <a href="javascript:void(0)" onclick="deleteUser('<%=item.id%>')">
                                                            <div class="box-edit-customer box-option-customer">
                                                                <div class="left-box-item">
                                                                    <img class="imgicondelete iicon-delete" src="/themes/img/admin/icondelete.png">
                                                                    <span class="text-none">Delete</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        </div>

                                                        <div class="arrowmenuuser-left">
                                                        </div>
                                                        <div class="arrowmenuuser-left1">
                                                        </div>

                                    </td>
                                </tr>
                                <% dem++;})%>
                    </tbody>
                </table>
                </div>
                <!-- Paging bottom -->
                <div class="box-paging-bottom">
                    <div class="box-showitem-left">
                        <span>Showing </span> <span class="totalshowcurrent"></span> <span> of </span><span class="totalitems"></span>
                    </div>
                    <div class="box-paging-right">
                        <div class="pagination-table-deploy">
                            <ul class="pagination">
                                <li class="edit-li-pagination">
                                    <span id="totalitems" class="totalitems"></span>
                                </li>
                                <li class="btnfirstpage">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="btnprevpage">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                                </li>
                                <li class="edit-li-pagination">
                                    <span class="totalpage totalpagetext" href="javascript:void(0)">
                                </span>
                                </li>
                                <li class="btnnextpage">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="btnlastpage">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Close -->

                <div class="container">
                    <div class="modal fade" id="mymodal-deleteuser" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head">
                                        Are you sure you want to Delete this account?
                                    </div>
                                    <div class="dialogdeleteapp-foot">
                                        <button id="delete-ok">Delete</button>
                                        <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="modal fade" id="mymodal-deleteusermulti" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head">
                                        Are you sure you want to delete the selected accounts?
                                    </div>
                                    <div class="dialogdeleteapp-foot">
                                        <button id="delete-ok-multi" class="btn-delete-ok">Delete</button>
                                        <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container box-blockuser">
                    <div class="modal fade" id="mymodal-blockuser" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head">
                                        Are you sure you want to block the accounts you have selected?
                                    </div>
                                    <div class="dialogdeleteapp-foot">
                                        <button id="block-ok" class="btn-block-ok">Block</button>
                                        <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container box-blockuser">
                    <div class="modal fade" id="mymodal-blockusermulti" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head">
                                        Are you sure you want to block the accounts you have selected?
                                    </div>
                                    <div class="dialogdeleteapp-foot">
                                        <button id="block-ok-multi" class="btn-block-ok">Block</button>
                                        <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container box-unblockuser">
                    <div class="modal fade" id="mymodal-unblockuser" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head">
                                        Are you sure you want to unblock this account?
                                    </div>
                                    <div class="dialogdeleteapp-foot">
                                        <button id="unblock-ok">Unblock</button>
                                        <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="modal fade" id="mymodal-warring" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head">
                                        No item selected!
                                    </div>
                                    <div class="dialogdeleteapp-foot">
                                        <button type="button" data-dismiss="modal" aria-label="Close" id="ok-empty">Ok</button>
                                        <!-- <button type="button "  data-dismiss="modal " aria-label="Close ">Cancel</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="modal fade " id="myModa-adduser" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content1">
                                <div class="dialogdeleteapp">
                                    <div class="dialogdeleteapp-head-history ">
                                        Add a User
                                    </div>
                                    <form id="form-adduser" onsubmit="return false">
                                        <textarea placeholder="Enter your email address..." rows="1" class="textarea-adduser" id="input-add-customer"></textarea>
                                        <div class="dialogdeleteapp-foot-history ">
                                            <button type="submit" class="float-right btn-blue" id="adduser">Add user</button>
                                            <button id="cancel-adduser" class="float-right btn-gray margin-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>

    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/customer.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/paging.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/breadcrumb.js "></script>
    <!-- <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/appversion/pagination.js "></script> -->