<% include ./../headerdetail %>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/notification/notification.js"></script>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">New Notification
                </span>
            </div>
        </div>
        <form id="form-notification" onsubmit="return false">
            <div id="content-notification" class="row row1">
                <div class="left-content-notification col-md-8">
                    <div class="span-compose-message">
                        <span>
                            <img src="/themes/img/notification/iconedit.png"> Compose Message</span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-12 label-notification set-position-relative" for="inputSuccess2">Title Notification *
                            <span class="country-notification">
                                <img src="/themes/img/notification/iconlanguage.png">
                                <span> English</span>
                                <img class="img-arow-notification" src="/themes/img/dashboard/iconarrow.png">
                            </span>
                        </label>
                        <%
                            let title_en = {status: "display-none", value: ""};
                            let title_vn= {status: "display-none", value: ""};
                            let title_cn = {status: "display-none", value: ""};;
                            let title_sx = {status: "display-none", value: ""};
                            let title_ge = {status: "display-none", value: ""};
                            if(notification.titleNotification != ""){
                                if(Object.getOwnPropertyNames(notification.titleNotification)[0]){
                                    if(Object.getOwnPropertyNames(notification.titleNotification)[0] == "en"){
                                        title_en.status = "";
                                        title_en.value = notification.titleNotification.en;
                                    }
                                    if(Object.getOwnPropertyNames(notification.titleNotification)[0] == "vn"){
                                        title_vn.status = "";
                                        title_vn.value = notification.titleNotification.vn;
                                    }
                                    if(Object.getOwnPropertyNames(notification.titleNotification)[0] == "cn"){
                                        title_cn.status = "";
                                        title_cn.value = notification.titleNotification.cn;
                                    }
                                    if(Object.getOwnPropertyNames(notification.titleNotification)[0] == "sx"){
                                        title_sx.status = "";
                                        title_sx.value = notification.titleNotification.sx;
                                    }
                                    if(Object.getOwnPropertyNames(notification.titleNotification)[0] == "ge"){
                                        title_ge.status = "";
                                        title_ge.value = notification.titleNotification.ge;
                                    }
                                }
                            }else{
                                title_en.status = "";
                                title_en.value = "";
                            }
                        %>
                            <input placeholder="Enter Your title" value="<%=title_en.value%>" type="text" value="" autocomplete="off" class="resetinputlogin input-title-notification <%=title_en.status%>"
                                name="title-notification-en">
                            <input placeholder="Enter Your title" value="<%=title_vn.value%>" type="text" autocomplete="off" class="resetinputlogin input-title-notification <%=title_vn.status%>"
                                name="title-notification-vn">
                            <input placeholder="Enter Your title" value="<%=title_cn.value%>" type="text" autocomplete="off" class="resetinputlogin input-title-notification <%=title_cn.status%>"
                                name="title-notification-china">
                            <input placeholder="Enter Your title" value="<%=title_sx.value%>" type="text" autocomplete="off" class="resetinputlogin input-title-notification <%=title_sx.status%>"
                                name="title-notification-dutch">
                            <input placeholder="Enter Your title" value="<%=title_ge.value%>" type="text" autocomplete="off" class="resetinputlogin input-title-notification <%=title_ge.status%>"
                                name="title-notification-georgian">

                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                            </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-12 label-notification set-position-relative" for="inputSuccess2">Content Notification *
                            <span class="country-notification">
                                <img src="/themes/img/notification/iconlanguage.png">
                                <span> English</span>
                                <img class="img-arow-notification" src="/themes/img/dashboard/iconarrow.png">
                            </span>
                        </label>
                        <%
                            let content_en = {status: "display-none", value: ""};
                            let content_vn= {status: "display-none", value: ""};
                            let content_cn = {status: "display-none", value: ""};;
                            let content_sx = {status: "display-none", value: ""};
                            let content_ge = {status: "display-none", value: ""};
                            if(notification.contentNotification != ""){
                            if(Object.getOwnPropertyNames(notification.contentNotification)[0]){
                                if(Object.getOwnPropertyNames(notification.contentNotification)[0] == "en"){
                                    content_en.status = "";
                                    content_en.value = notification.contentNotification["en"];
                                }
                                if(Object.getOwnPropertyNames(notification.contentNotification)[0] == "vn"){
                                    content_vn.status = "";
                                    content_vn.value = notification.contentNotification.vn;
                                }
                                if(Object.getOwnPropertyNames(notification.contentNotification)[0] == "cn"){
                                    content_cn.status = "";
                                    content_cn.value = notification.contentNotification.cn;
                                }
                                if(Object.getOwnPropertyNames(notification.contentNotification)[0] == "sx"){
                                    content_sx.status = "";
                                    content_sx.value = notification.contentNotification.sx;
                                }
                                if(Object.getOwnPropertyNames(notification.contentNotification)[0] == "ge"){
                                    content_ge.status = "";
                                    content_ge.value = notification.contentNotification.ge;
                                }
                            }
                            }else{
                                content_en.status = "";
                                content_en.value = "";
                            }
                        %>
                            <textarea placeholder="Enter Your content..." rows="5" class="textarea-notification textarea-content-notification <%=content_en.status%> textarea-content-en">
                                <%=content_en.value%>
                            </textarea>
                            <textarea placeholder="Enter Your content..." rows="5" class="textarea-notification textarea-content-notification <%=content_vn.status%>  textarea-content-vn">
                                <%=content_vn.value%>
                            </textarea>
                            <textarea placeholder="Enter Your content..." rows="5" class="textarea-notification textarea-content-notification <%=content_cn.status%> textarea-content-china">
                                <%=content_cn.value%>
                            </textarea>
                            <textarea placeholder="Enter Your content..." rows="5" class="textarea-notification textarea-content-notification <%=content_sx.status%>  textarea-content-dutch">
                                <%=content_sx.value%>
                            </textarea>
                            <textarea placeholder="Enter Your content..." rows="5" class="textarea-notification textarea-content-notification <%=content_ge.status%> textarea-content-georgian">
                                <%=content_ge.value%>
                            </textarea>
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                            </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Internal link clickable</label>
                        <div id="internal-link">
                            <div class="select-product float-left">
                                <span class="float-left">Product Url</span>
                                <img class="float-right set-img-product-url" src="/themes/img/dashboard/iconarrow.png">
                            </div>
                            <input placeholder="Input product name" value="<%=notification.internalLink[0].url%>" type="text" class="input-product-name  float-left">
                        </div>
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                        </span>
                    </div>
                    <%
                 var status1 = "display-none";
                 var status2 = "display-none";
                 var status3 = "display-none";
                 var status4 = "display-none";
                 var status5 = "display-none";

                if(notification.smallIcon.length >0){
                    status1 = "";
                }
                if(notification.iconNotification.length >0){
                    status2 = "";
                }
                if(notification.bigimagesNotification.length >0){
                    status3 = "";
                }
                if(notification.backgroundNotification.length >0){
                    status4 = "";
                }
                %>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Small Icon Notification</label>
                            <span class="text-below-lable">* You should upload a 48x48 image for small icon</span>
                            <div class="boder-icon-small-notification <%=status1%>">
                                <input hidden value="<%=notification.smallIcon%>">
                                <img src="/themes/img/settingnotification/<%=notification.smallIcon%>">
                            </div>
                            <div class="set-location-btn-notification">
                                <input type="file" hidden id="file-img-small" accept="image/*">
                                <button id="btn-choose-small-icon" class="setcolorfontinput setcolorloginbackround btn btn-lg-notification">Choose File</button>
                                <button id="btn-cancel-small-icon" class="setcolorfontinput setbackground-btn-cancel btn btn-lg-notification <%=status1%>">Delete File</button>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Icon Notification</label>
                            <span class="text-below-lable">* You should upload a 256x256 image for icon</span>
                            <div class="boder-icon-large-notification <%=status2%>">
                                <input hidden value="<%=notification.iconNotification%>">
                                <img src="/themes/img/settingnotification/<%=notification.iconNotification%>">
                            </div>
                            <div class="set-location-btn-notification">
                                <input type="file" hidden id="file-img-large" accept="image/*">
                                <button id="btn-choose-large-icon" class="setcolorfontinput setcolorloginbackround btn btn-lg-notification">Choose File</button>
                                <button id="btn-cancel-large-icon" class="setcolorfontinput setbackground-btn-cancel btn btn-lg-notification <%=status2%>">Delete File</button>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Bigimages Notification</label>
                            <span class="text-below-lable">* Use a 2:1 aspect, You should upload a 1024x512 image for icon</span>
                            <div class="boder-icon-big-notification <%=status3%>">
                                <input id="idapp-using" hidden value="<%=appuse.idApp%>">
                                <input hidden value="<%=notification.bigimagesNotification%>">
                                <img src="/themes/img/settingnotification/<%=notification.bigimagesNotification%>">
                            </div>
                            <div class="set-location-btn-notification">
                                <input type="file" hidden id="file-img-bigimages" accept="image/*">
                                <button id="btn-choose-bigimages-icon" class="setcolorfontinput setcolorloginbackround btn btn-lg-notification">Choose File</button>
                                <button id="btn-cancel-bigimages-icon" class="setcolorfontinput setbackground-btn-cancel btn btn-lg-notification <%=status3%>">Delete File</button>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Background Notification</label>
                            <span class="text-below-lable">* You should upload a 17:2 image for icon</span>
                            <div class="boder-icon-background-notification <%=status4%>">
                                <input hidden value="<%=notification.backgroundNotification%>">
                                <img src="/themes/img/settingnotification/<%=notification.backgroundNotification%>">
                            </div>
                            <div class="set-location-btn-notification">
                                <input type="file" hidden id="file-img-background" accept="image/*">
                                <button id="btn-choose-background-icon" class="setcolorfontinput setcolorloginbackround btn btn-lg-notification">Choose File</button>
                                <button id="btn-cancel-background-icon" class="setcolorfontinput setbackground-btn-cancel btn btn-lg-notification <%=status4%>">Delete File</button>
                            </div>
                        </div>
                        <%
                        if(notification.titleColor == ""){
                            notification.titleColor = "#444549"
                        }
                        if(notification.contentColor == ""){
                            notification.contentColor = "#919191"
                        }
                        if(notification.ledColor == ""){
                            notification.ledColor = "#ededed"
                        }
                        if(notification.accentColor == ""){
                            notification.accentColor = "#ededed"
                        }
                        
                        %>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="inputSuccess2">Title Color</label>
                                <div id="cp1" class="input-group colorpicker-component boder-color-picker">
                                    <input type="text" value="<%=notification.titleColor%>" class="form-control set-input-color" />
                                    <span class="input-group-addon float-left set-spant-color">
                                        <i class="set-i-color"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="inputSuccess2">Content Color</label>
                                <div id="cp2" class="input-group colorpicker-component boder-color-picker">
                                    <input type="text" value="<%=notification.contentColor%>" class="form-control set-input-color" />
                                    <span class="input-group-addon float-left set-spant-color">
                                        <i class="set-i-color"></i>
                                    </span>
                                </div>


                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="inputSuccess2">Led Color</label>
                                <div id="cp3" class="input-group colorpicker-component boder-color-picker">
                                    <input type="text" value="<%=notification.ledColor%>" class="form-control set-input-color" />
                                    <span class="input-group-addon float-left set-spant-color">
                                        <i class="set-i-color"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="inputSuccess2">Accent Color</label>
                                <div id="cp4" class="input-group colorpicker-component boder-color-picker">
                                    <input type="text" value="<%=notification.accentColor%>" class="form-control set-input-color" />
                                    <span class="input-group-addon float-left set-spant-color">
                                        <i class="set-i-color"></i>
                                    </span>
                                </div>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="inputSuccess2">Android Background Images</label>
                                <div class="">
                                    <label class="container-radio-custom">Send to Everyone
                                        <input id="send-to-everyone" type="radio" checked="checked" name="notiradio" value="1">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="">
                                    <label class="container-radio-custom">Send to Particular Segment(s)
                                        <input id="send-to-segment" type="radio" name="notiradio" value="2">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="sent-to-segment set-position-relative">
                                    <div class="set-arrow-segments">
                                        <div class="select-country-notificationx">
                                            <div class="arrow-select-custom">
                                            </div>
                                            <div class="arrow-select-custom-sub"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group has-feedback">
                                            <label class="control-label " for="inputSuccess2">Sent to segments
                                            </label>
                                            <input placeholder="Enter your segments" type="text" class="resetinputlogin show-send-to" readonly id="notification-sent"
                                                name="firstname">
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="control-label " for="inputSuccess2">Exclude users in segments
                                            </label>
                                            <input placeholder="Enter your exclude users" type="text" class="resetinputlogin show-send-to" readonly id="notification-exclude"
                                                name="firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="container-radio-custom">Send to Test Device(s)
                                        <input id="send-to-test-device" type="radio" name="notiradio" value="3" data-toggle="modal" data-target="#myModal-chooleUser">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="use-sent-to-player" class="form-group has-feedback">
                            </div>
                </div>
                <div class="right-content-notification set-position-relative col-md-4">
                    <div class="fixed-div-plateform">
                        <div class="select-platform">
                            <div class="text-select-platform float-left">
                                <span>Reviews:</span>
                            </div>
                            <div style="display: none" class="border-select-platform select-platform-ios platform-ios">
                                <img src="/themes/img/notification/iconios.png">
                            </div>
                            <div class="border-select-platform platform-selected select-platform-ios platform-ios-active">
                                <img src="/themes/img/notification/iconiosactive.png">
                            </div>
                            <div class="border-select-platform select-platform-android platform-android">
                                <img src="/themes/img/notification/iconandroid.png">
                            </div>
                            <div style="display: none" class="border-select-platform platform-selected select-platform-android platform-android-active">
                                <img src="/themes/img/notification/iconandroidative.png">
                            </div>
                        </div>
                        <div class="interface-mobi ">
                            <img src="/themes/img/notification/mobi.png">
                        </div>
                        <div class="interface-mobile-js android-ok display-none">
                            <div class="boder-img-small-circle float-left">
                                <% 
                            let smallIcon = "testicon.png";
                            if(notification.smallIcon.length > 0){
                                smallIcon =notification.smallIcon;
                            }else{
                                if(notification.iconNotification.length > 0){
                                    smallIcon = notification.iconNotification;
                                }  
                            }
                             %>
                                    <img id="img-small-circle" class="img-small-circle" src="/themes/img/settingnotification/<%=smallIcon%>">
                            </div>
                            <div class="float-left content-mobile set-position-relative">
                                <div>
                                    <span id="title-mobile" class="title-mobile">ModernShop</span>
                                    <span class="float-right">now</span>
                                </div>
                                <span id="content-mobile">Sensitive content Hidden</span>
                                <% if(notification.smallIcon.length >0){
                                status5 = "";
                            } %>
                                    <div class="img-large-mobile <%=status5%>">
                                        <img src="/themes/img/settingnotification/<%=notification.iconNotification%>">
                                    </div>
                                    <div class="img-big-mobile <%=status3%>">
                                        <img src="/themes/img/settingnotification/<%=notification.bigimagesNotification%>">
                                    </div>
                            </div>
                        </div>
                        <div class="interface-mobile-js ios-ok">
                            <div class="boder-img-small-circle float-left">
                                <img id="img-small-circle" class="img-small-circle" src="/themes/img/settingnotification/<%=smallIcon%>">
                            </div>
                            <div class="float-left content-mobile set-position-relative">
                                <div>
                                    <span id="title-mobile" class="title-mobile">ModernShop</span>
                                    <span class="float-right">now</span>
                                </div>
                                <span id="content-mobile">Sensitive content Hidden</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="border-btn-notification">
                <button type="submit" id="save-notification" class="setcolorfontinput setcolorloginbackround btn btn-lg-notification">Save</button>
                <button id="send-notification" class="setcolorfontinput setcolorloginbackround btn btn-lg-notification set-infor-mobile-using">Save And Send</button>
            </div>
        </form>
        <div id="select-country-notification" class="select-country-notification">
            <div class="select-country-notificationx">
                <div class="arrow-select">
                    <div class="select-country-notificationx">
                        <div class="arrow-select-custom">
                        </div>
                        <div class="arrow-select-custom-sub"></div>
                    </div>
                </div>
                <div class="option-select">
                    <ul>
                        <li>
                            <img src="/themes/img/notification/iconenglish.png"> English</li>
                        <li>
                            <img src="/themes/img/notification/iconvietnam.png"> Vietnamese</li>
                        <li>
                            <img src="/themes/img/notification/iconchina.png"> China(Traditional)</li>
                        <li>
                            <img src="/themes/img/notification/iconenglish.png"> Dutch</li>
                        <li>
                            <img src="/themes/img/notification/iconvietnam.png"> Georgian</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="select-product-url" class="select-product-url">
            <ul>
                <li>Product Url</li>
                <li>Category Url</li>
                <li>About Us Url</li>
                <li>Bookmark Url</li>
                <li>Term & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div id="select-send-to" class="select-send-to">
            <ul>
                <li>
                    <input type="checkbox" name="segments-check" value="All"> All
                </li>
                <li>
                    <input type="checkbox" name="segments-check" value="Engaged users"> Engaged users</li>
                <li>
                    <input type="checkbox" name="segments-check" value="Active Users"> Active Users</li>
                <li>
                    <input type="checkbox" name="segments-check" value="Inactive Users"> Inactive Users</li>
            </ul>
        </div>
        <div id="select-exclude" class="select-send-to">
            <ul>
                <li>
                    <input type="checkbox" name="segments-check-exclude" value="all"> All
                </li>
                <li>
                    <input type="checkbox" name="segments-check-exclude" value="Engaged users"> Engaged users</li>
                <li>
                    <input type="checkbox" name="segments-check-exclude" value="Active Users"> Active Users</li>
                <li>
                    <input type="checkbox" name="segments-check-exclude" value="Inactive Users"> Inactive Users</li>
            </ul>
        </div>
        <div class="container ">
            <div class="modal fade" id="myModal-chooleUser" role="dialog">
                <div class="modal-dialog  ">
                    <div class="modal-content2">
                        <div class="dialogdeleteapp">
                            <div class="dialogdeleteapp-head-history">
                                Select sent to test devices
                            </div>
                            <form id="form-choole-user" onsubmit="return false">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 header-modal-noti">
                                        <div class="col-sm-6">
                                            <div class="form-group-12" id="remember1">
                                                <div class="checkboxFive">
                                                    <div class="checkbox-custom-noti">
                                                        <input type="checkbox" hidden value="faile" id="checkbox-allusser">
                                                        <label for="checkbox-allusser"></label>
                                                        <span class="spanremember">&nbsp All devices</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="has-feedback">
                                                <input id="seach-device" type="text" name="text" class="col-sm-12" size="50" placeholder="Search a device">
                                                <span class="set-search-icon" aria-hidden="true">
                                                    <img src="/themes/img/dashboard/iconsearch.png">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 content-modal-noti">
                                        <%for(let i=0; i < device.length;i++){%>
                                            <input class="value-device-id" hidden value="<%=device[i].id%>">
                                            <input class="value-device" hidden value="<%=device[i].device_model +' '+device[i].device_os%>">
                                            <div class="col-sm-6 item-device-add-test">
                                                <div class="form-group-12" id="remember1">
                                                    <div class="checkboxFive">
                                                        <div class="checkbox-custom-noti">
                                                            <input type="checkbox" name="sub-user-test" hidden value="faile" id="checkbox-custom-user-<%=i%>">
                                                            <label for="checkbox-custom-user-<%=i%>"></label>
                                                            <span class="spanremember ">&nbsp
                                                                <%=device[i].device_model%>
                                                                    <%=device[i].device_os%>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>
                                <div class="dialogdeleteapp-foot-noti col-sm-12">
                                    <button type="submit" class="float-right btn-blue margin-btn-noti" id="ok-user">OK</button>
                                    <button id="cancel-user" class="float-right btn-gray margin-btn-noti" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>