<% include ./../headerdetail %>
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/appsetting/appsetting.css">
    <div id="navigate-text">
        <a class="colora" href="/dashboard">
            <span>Home</span>
        </a>
        <span class="setarrownavigate">
            <img src="/themes/img/dashboard/iconarrowbreadcrumb.png">
        </span>
        <span id="text-href">App Setting</span>
    </div>
    </div>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">App Setting</span>
                <!-- <span class="setsearch">
                    <input type="text" onkeyup="searchappversion()" id="inputsearchapp1" name="search" placeholder="Search...">
                    <span class="form-control-feedback2" aria-hidden="true">
                        <img src="/themes/img/dashboard/iconsearch.png">
                    </span>
                </span> -->
            </div>
        </div>
        <div class="row row1">
            <div id="content-appsetting">
                <form method="POST" action="" id="fSettingApps">
                    <div class="col-sm-6 ">

                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Package ID *</label>
                            <input type="text" class="resetinputlogin" id="idapp" name="idapp" value="<%=appuse.appID%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                                <input type="hidden" value="<%=appSetting._id%>" name="appid">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Application Name *</label>
                            <input type="text" class="resetinputlogin" id="appname" name="appname" value="<%if(appSetting){%><%=appSetting.nameApp %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                                
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Version *</label>
                            <input type="text" class="resetinputlogin" id="version" name="version" value="<%if(appSetting){%><%=appSetting.version %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr2" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Description *</label>
                            <input type="text" class="resetinputlogin" id="description" name="description" value="<%if(appSetting){%><%=appSetting.description %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr3" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Email *</label>
                            <input type="text" class="resetinputlogin" id="email" name="email" value="<%if(appSetting){%><%=appSetting.emailApp %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr4" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Href *</label>
                            <input type="text" name="href" id="href" class="resetinputlogin" value="<%if(appSetting){%><%=appSetting.authHref %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Auth *</label>
                            <input type="text" class="resetinputlogin" id="auth" name="auth" value="<%if(appSetting){%><%=appSetting.auth %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Onesignal App ID *</label>
                            <input type="text" class="resetinputlogin" id="oneSignalID" name="onesignalappid" value="<%if(appSetting){%><%=appSetting.oneSignalID %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Onesignal API Key *</label>
                            <input type="text" class="resetinputlogin" id="onesignalapikey" name="onesignalapikey" value="<%if(appSetting){%><%=appSetting.oneSignalAPIKey %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">User Auth Key *</label>
                            <input type="text" class="resetinputlogin" id="onesignaluserid" name="onesignaluserid" value="<%if(appSetting){%><%=appSetting.oneSignalUserID %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Wordpress Url *</label>
                            <input type="text" class="resetinputlogin" id="wpurl" name="wpurl" value="<%if(appSetting){%><%=appSetting.wpUrl %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Wordpress Per Page *</label>
                            <input type="number" class="resetinputlogin" min=0 id="wpperpage" name="wpperpage" value="<%if(appSetting){%><%=appSetting.wpPerPage %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Request Time Out *</label>
                            <input type="number" class="resetinputlogin" min=0 id="reqtimeout" name="reqtimeout" value="<%if(appSetting){%><%=appSetting.requestTimeout %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Open Target Blank *</label>
                            <!-- <input type="number" class="resetinputlogin" id="" name="wpperpage"> -->
                            <div>
                                <label>
                                    <input type="radio" value="true" id="optionsRadios1" <%if(appSetting && appSetting.targetBlank){%>checked
                                    <%}%> name="isblank">True
                                        <input type="radio" value="false" id="optionsRadios2" <%if(!appSetting){%> checked
                                        <%}else{if(!appSetting.targetBlank){%>checked
                                            <%}}%> name="isblank">False</label>
                            </div>
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Date Format *</label>
                            <input type="text" class="resetinputlogin" id="dateformat" name="dateformat" value="<%if(appSetting){%><%=appSetting.dateFormat %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Onesignal ID *</label>
                            <input type="text" class="resetinputlogin" id="onesignalid" name="onesignalid" value="<%if(appSetting){%><%=appSetting.oneSignalID %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">Google analytic *</label>
                            <input type="text" class="resetinputlogin" id="gganalytic" name="gganalytic" value="<%if(appSetting){%><%=appSetting.ggAnalytic %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">AdMode Android Banner</label>
                            <input type="text" class="resetinputlogin" id="admodeandroidbanner" name="admodeandroidbanner" value="<%if(appSetting){%><%=appSetting.adModAndroidBanner %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">AdMode Android Interstitial</label>
                            <input type="text" class="resetinputlogin" id="admodeandroidinterstitial" name="admodeandroidinterstitial" value="<%if(appSetting){%><%=appSetting.adModeAndroidInterstitial %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">AdMode iOS Banner</label>
                            <input type="text" class="resetinputlogin" id="admodeiosbanner" name="admodeiosbanner" value="<%if(appSetting){%><%=appSetting.adModeIosBaner %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="inputSuccess2">AdMode iOS Interstitial</label>
                            <input type="text" class="resetinputlogin" id="admodeiosinterstitial" name="admodeiosinterstitial" value="<%if(appSetting){%><%=appSetting.adModeIosInterstitial %><%}%>">
                            <span class="form-control-feedback" aria-hidden="true">
                                <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 div-btn-infoapp text-center">
                            <!-- onclick="send_data_setting()" -->
                            <button type="button" id="btn-save-setting-app" class="btn btn-lg btn-infoapp">Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/appsettings/appsettings.js"></script>