<% include ../layout/header %>
    <link rel="stylesheet" type="text/css" href="/themes/css/admin/membership.css">
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Membership
        </span>

                <span class="setsearch">
                    <!-- onkeyup="searchFunc()" -->
            <input type="text"  id="inputsearch-customer" name="search" placeholder="Search...">
            <span class="form-control-feedback2 icon-search-top" aria-hidden="true">
                <img src="/themes/img/admin/search.png">
            </span>
                </span>
            </div>
        </div>

        <div id="filter-table-appversion" class="row row1">
            <div class="filter-left">
                <span class="table-show">Show: </span>
                <div id="filter-number" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle btn-filternumber btn-shownum-perpage" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="span-show-number" class="span-button-select">9</span> &nbsp;
                <span class="caret arow-button-select"></span>
            </button>
                    <ul class="dropdown-menu ">
                        <li id="show9perpage">
                            <a href="javascript:void(0)">9 Per page</a>
                        </li>
                        <li id="show18perpage">
                            <a href="javascript:void(0)">18 Per page</a>
                        </li>
                        <li id="show27perpage">
                            <a href="javascript:void(0)">27 Per page</a>
                        </li>
                        <li id="show36perpage">
                            <a href="javascript:void(0)">36 Per page</a>
                        </li>

                    </ul>
                </div>
                <div id="filter-date" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="span-selcect-date" class="span-button-select">All Dates</span>
                <span class="caret arow-button-select"></span>
            </button>
                    <ul class="dropdown-menu">
                        <li id="filter-date-hoursago">
                            <a href="javascript:void(0)">Hours Ago</a>
                        </li>
                        <li id="filter-date-yesterday">
                            <a href="javascript:void(0)">Yesterday</a>
                        </li>
                        <li id="filter-date-lastweed">
                            <a href="javascript:void(0)">Last Week</a>
                        </li>
                        <li id="filter-date-alldate">
                            <a href="javascript:void(0)">All Dates</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="filter-date-customize">
                            <input hidden id="fillter-date-custom" value="">
                            <a href="javascript:void(0)">Custom...</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-page-right">
                <div class="pagination-table-deploy ">
                    <ul class="pagination">
                        <li class="edit-li-pagination">
                            <span id="totalitems" class="totalitems"></span>
                        </li>
                        <li class="btnfirstpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnprevpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                        </li>
                        <li class="edit-li-pagination">
                            <span class="totalpage totalpagetext" href="javascript:void(0)">
                    </span>
                        </li>
                        <li class="btnnextpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnlastpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row row1">
            <div id="content-appversion">
                <table id="table-appversion">
                    <tr id="title-table-header">
                        <th width="7.8%">#</th>
                        <th width="13%">User
                            <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                        </th>
                        <th width="15.2%">Date create
                            <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                        </th>
                        <th width="15.2%">Extension date
                            <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                        </th>
                        <th width="10.2%">Amount
                            <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                        </th>
                        <th width="12%">Expire days
                        </th>
                        <th width="10%">Actions
                        </th>
                    </tr>
                    <tbody>
                        <%var dem =1;%>
                            <%dataMemberShipModels.forEach((item)=>{%>
                                <tr class="tr-content-appversion trrecord">

                                    <td>
                                        <span class="numberorder"><%=dem%></span>
                                    </td>
                                    <td>
                                        <span><%=item.username%></span>
                                    </td>
                                    <td> <span><%=moment(item.dateCreate).format('DD/MM/YYYY')%></span> </td>
                                    <td> <span><%=moment(item.dateUpdate).format('DD/MM/YYYY')%></span> </td>
                                    <td>
                                        <span>$<%=item.amount%></span>
                                    </td>
                                    <td>
                                        <span><%=moment(item.expireDay).format('DD/MM/YYYY')%></span>
                                    </td>
                                    <td>
                                        <a class="btn-send-notifi" href="javascript:void(0)" onclick="opendialogsendnoti('<%=item.idUser%>')">
                                            <img class="img-notification-first" src="/themes/img/admin/inboxmail.png" alt="send notifi customer">
                                            <img class="img-notification-second" src="/themes/img/admin/inboxmailactive.png" alt="send notifi customer"> &nbsp;SEND
                                        </a>
                                    </td>
                                </tr>

                                <%dem++})%>
                    </tbody>
                </table>

            </div>

            <!-- Paging bottom -->
            <div class="box-paging-bottom">
                <div class="box-showitem-left">
                    <span>Showing </span> <span class="totalshowcurrent"></span> <span> of </span><span class="totalitems"></span>
                </div>
                <div class="box-paging-right">
                    <div class="pagination-table-deploy">
                        <ul class="pagination">
                            <li class="edit-li-pagination">
                                <span id="totalitems" class="totalitems"></span>
                            </li>
                            <li class="btnfirstpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="btnprevpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                            </li>
                            <li class="edit-li-pagination">
                                <span class="totalpage totalpagetext" href="javascript:void(0)">
                                    </span>
                            </li>
                            <li class="btnnextpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="btnlastpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Close -->
            <div class="container">
                <div class="modal fade" id="mymodal-deleteuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to Delete this account?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="delete-ok">Delete</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal fade" id="mymodal-deleteusermulti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to delete the selected accounts?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="delete-ok-multi" class="btn-delete-ok">Delete</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-blockuser">
                <div class="modal fade" id="mymodal-blockuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to block the accounts you have selected?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="block-ok" class="btn-block-ok">Block</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container box-blockuser">
                <div class="modal fade" id="mymodal-blockusermulti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to block the accounts you have selected?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="block-ok-multi" class="btn-block-ok">Block</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-unblockuser">
                <div class="modal fade" id="mymodal-unblockuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to unblock this account?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="unblock-ok">Unblock</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal fade" id="mymodal-warring" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    No item selected!
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button type="button" data-dismiss="modal" aria-label="Close" id="ok-empty">Ok</button>
                                    <!-- <button type="button "  data-dismiss="modal " aria-label="Close ">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="modal fade " id="myModa-sendnoti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialog-head-write-notification">
                                    <img src="/themes/img/admin/writenotification.png" class="img-write-title-notifi" alt="write notification"> Write a Notifications
                                </div>
                                <form id="form-adduser">
                                    <input type="hidden" value="" id="idusersendnoti">
                                    <input type="text" placeholder="Title..." name="titlenoti" id="titlenoti" class="title-notification-dialog">
                                    <textarea placeholder="Enter your content" rows="1" class="textarea-send-noti" id="contentsendnoti"></textarea>
                                    <div class="dialogdeleteapp-foot-history ">
                                        <button type="button" class="float-right btn-blue" id="sendnotitouser">
                                           <img src="/themes/img/admin/sendnoti.png" class="img-plane-noti" alt="Send notification">&nbsp; Send</button>
                                        <button id="btn-cancel-send-noti" class="float-right btn-gray margin-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>

    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/membership.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/paging.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/breadcrumb.js "></script>
    <script type="text/javascript">
        // getPagination('#table-appversion');
        //getPagination('.table-class');
        //getPagination('table');
    </script>
    <!-- <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/appversion/pagination.js "></script> -->