<% include ../layout/header %>
    <link rel="stylesheet" type="text/css" href="/themes/css/admin/statements.css">
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Statements
    </span>

                <span class="setsearch">
                <!-- onkeyup="searchFunc()" -->
        <input type="text"  id="inputsearch-customer" name="search" placeholder="Search...">
        <span class="form-control-feedback2 icon-search-top" aria-hidden="true">
            <img src="/themes/img/admin/search.png">
        </span>
                </span>
            </div>
        </div>
        <div class="box-statement-math row">
            <div class="box-revenue">
                <div class="title-box">
                    <span>Revenue</span>
                </div>
                <div class="number-money">
                    $
                    <%=sRevenue.toLocaleString()%>
                </div>
                <div class="dv-traffic">
                    <%if(checkRevenue==0){%>
                        <span class="percent-ratio-down"><img class="img-arrow-top" src="/themes/img/admin/arrowdown.png" alt="Arrow"> <%=pRevenue%>%</span>
                        <%}else{%>
                            <span class="percent-ratio-up"><img class="img-arrow-top" src="/themes/img/admin/arrowtop.png" alt="Arrow"> <%=pRevenue%>%</span>
                            <%}%>
                </div>
            </div>
            <div class="box-withdraw">
                <div class="title-box">
                    <span>Withdraw</span>
                </div>
                <div class="number-money">
                    $
                    <%=sWithdraw.toLocaleString()%>
                </div>
                <div class="dv-traffic">
                    <%if(checkWithdraw==0){%>
                        <span class="percent-ratio-down"><img class="img-arrow-top" src="/themes/img/admin/arrowdown.png" alt="Arrow"> <%=pWithdraw%>%</span>
                        <%}else{%>
                            <span class="percent-ratio-up"><img class="img-arrow-top" src="/themes/img/admin/arrowtop.png" alt="Arrow"> <%=pWithdraw%>%</span>
                            <%}%>
                </div>
            </div>
            <div class="box-profit">
                <div class="title-box">
                    <span>Profit</span>
                </div>
                <div class="number-money">
                    $
                    <%=sProfit.toLocaleString()%>
                </div>
                <div class="dv-traffic">
                    <%if(checkProfit==0){%>
                        <span class="percent-ratio-down"><img class="img-arrow-top" src="/themes/img/admin/arrowdown.png" alt="Arrow"> <%=pProfit%>%</span>
                        <%}else{%>
                            <span class="percent-ratio-up"><img class="img-arrow-top" src="/themes/img/admin/arrowtop.png" alt="Arrow"> <%=pProfit%>%</span>
                            <%}%>
                </div>
            </div>
            <div class="box-pending">

                <div class="title-box">
                    <span>Pending</span>
                </div>
                <div class="number-money">
                    $
                    <%=sPending.toLocaleString()%>
                </div>
                <div class="dv-traffic">
                    <%if(checkPending==0){%>
                        <span class="percent-ratio-down"><img class="img-arrow-top" src="/themes/img/admin/arrowdown.png" alt="Arrow"> <%=pPending%>%</span>
                        <%}else{%>
                            <span class="percent-ratio-up"><img class="img-arrow-top" src="/themes/img/admin/arrowtop.png" alt="Arrow"> <%=pPending%>%</span>
                            <%}%>
                </div>

            </div>
        </div>
        <div id="filter-table-appversion" class="row row1">
            <div class="filter-left">
                <span class="table-show">Show: </span>
                <div id="filter-number" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle btn-filternumber btn-shownum-perpage" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="span-show-number" class="span-button-select">9</span> &nbsp;
            <span class="caret arow-button-select"></span>
        </button>
                    <ul class="dropdown-menu ">
                        <li id="show9perpage">
                            <a href="javascript:void(0)">9 Per page</a>
                        </li>
                        <li id="show18perpage">
                            <a href="javascript:void(0)">18 Per page</a>
                        </li>
                        <li id="show27perpage">
                            <a href="javascript:void(0)">27 Per page</a>
                        </li>
                        <li id="show36perpage">
                            <a href="javascript:void(0)">36 Per page</a>
                        </li>

                    </ul>
                </div>
                <div id="filter-date" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="span-selcect-date" class="span-button-select">All Dates</span>
            <span class="caret arow-button-select"></span>
            <input type="hidden" id="type-fill-date" value="4">
        </button>
                    <ul class="dropdown-menu">
                        <li id="filter-date-hoursago-statement">
                            <a href="/admin/statements?st=hoursago">Hours Ago</a>
                        </li>
                        <li id="filter-date-yesterday-statement">
                            <a href="/admin/statements?st=yesterday">Yesterday</a>
                        </li>
                        <li id="filter-date-lastweed-statement">
                            <a href="/admin/statements?st=lastweek">Last Week</a>
                        </li>
                        <li id="filter-date-alldate-statement">
                            <a href="/admin/statements">All Dates</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="filter-date-customize-statement">
                            <input type="hidden" id="filter-date-custom-start" value="">
                            <input type="hidden" id="filter-date-custom-end" value="">
                            <a href="javascript:void(0)">Custom...</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-page-right">
                <div class="pagination-table-deploy ">
                    <ul class="pagination">
                        <li class="edit-li-pagination">
                            <span id="totalitems" class="totalitems"></span>
                        </li>
                        <li class="btnfirstpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnprevpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                        </li>
                        <li class="edit-li-pagination">
                            <span class="totalpage totalpagetext" href="javascript:void(0)">
                </span>
                        </li>
                        <li class="btnnextpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnlastpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row row1">
            <div id="content-appversion">
                <table id="table-appversion">
                    <thead>
                        <tr id="title-table-header">
                            <th width="8%">#</th>
                            <th width="10%">Date
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="13%">User
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="20%">Content
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="10%">Amount
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="12%">Status
                            </th>
                            <th width="12%">Note
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%var dem =1;%>
                            <%data.forEach((item)=>{%>
                                <tr class="tr-content-appversion trrecord">

                                    <td>
                                        <span class="numberorder"><%=dem%></span>
                                    </td>
                                    <td class="adminfilldate">
                                        <span></span>
                                        <input type="hidden" class="daterecord" value="<%=item.dateCreate%>">
                                    </td>
                                    <td>
                                        <span><%=item.username%></span>
                                    </td>
                                    <td>
                                        <span><%=item.content%></span>
                                    </td>
                                    <td>
                                        $<span><%=item.amount.toLocaleString()%></span>
                                    </td>
                                    <td>
                                        <div class="dropdown">

                                            <%  if(item.statusWithdraw){switch(item.statusWithdraw){
                                                case 1:%>
                                                <span class="paddingstatus orderblue statuspayment bgstatuspending" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="textstatus">
                                                   Pending
                                                </span>
                                                <!-- <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt=""> -->
                                                </span>
                                                <% break; 
                                                case 2: %>
                                                    <span class="paddingstatus orderblue statuspayment bgstatuscomplete" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="textstatus">
                                                           Completed
                                                        </span>
                                                    <!-- <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt=""> -->
                                                    </span>
                                                    <%break; 
                                                    case 3:%>
                                                        <span class="paddingstatus orderblue statuspayment bgstatuscancel" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            <span class="textstatus">
                                                               Cancel
                                                            </span>
                                                        <!-- <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt=""> -->
                                                        </span>
                                                        <%break;} }else{%>
                                                            <span class="paddingstatus orderblue statuspayment bgstatuscomplete" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                    <span class="textstatus">
                                                                       Completed
                                                                    </span>
                                                            <!-- <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt=""> -->
                                                            </span>
                                                            <%}%>
                                                                <!-- <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span id="span-show-number" class="span-button-select">18</span>
                                                                        <span class="caret arow-button-select"></span>
                                                                    </button> -->
                                                                <!-- <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-left selectstatuspayment">

                                                                <div class="arrow-under-order setarrowabot-under-withdraw">
                                                                </div>
                                                                <li value="1">
                                                                    <a>Pending</a>
                                                                </li>
                                                                <li value="2">
                                                                    <a>Completed</a>
                                                                </li>
                                                                <li value="3">
                                                                    <a>Canelled</a>
                                                                </li>

                                                            </ul> -->

                                        </div>
                                    </td>
                                    <td>
                                        <span><%=item.note%></span>
                                    </td>
                                </tr>
                                <%dem++})%>
                    </tbody>
                </table>

            </div>

            <!-- Paging bottom -->
            <div class="box-paging-bottom">
                <div class="box-showitem-left">
                    <span>Showing </span> <span class="totalshowcurrent"></span> <span> of </span><span class="totalitems"></span>
                </div>
                <div class="box-paging-right">
                    <div class="pagination-table-deploy">
                        <ul class="pagination">
                            <li class="edit-li-pagination">
                                <span id="totalitems" class="totalitems"></span>
                            </li>
                            <li class="btnfirstpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="btnprevpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                            </li>
                            <li class="edit-li-pagination">
                                <span class="totalpage totalpagetext" href="javascript:void(0)">
                                </span>
                            </li>
                            <li class="btnnextpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="btnlastpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Close -->

        </div>


    </div>
    </div>
    </div>

    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/statements.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/paging.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/breadcrumb.js "></script>
    <script type="text/javascript">
        // getPagination('#table-appversion');
        //getPagination('.table-class');
        //getPagination('table');
    </script>
    <!-- <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/appversion/pagination.js "></script> -->