<% include ../dashboard/headerdetail %>
    <div id="navigate-text">
        <a class="colora" href="/dashboard">
            <span>Home</span>
        </a>
        <span class="setarrownavigate">
            <img src="/themes/img/dashboard/iconarrowbreadcrumb.png">
        </span>
        <span id="text-href">Payment method</span>
    </div>
    </div>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Payment Methods
                </span>
                <a href="/affiliate/payment-method/add">
                    <button type="submit" class="btn-blue set-btn-addmethod">
                        <img class="seticonadd" src="/themes/img/appversion/iconadd.png"> Add New</button>
                </a>

            </div>
        </div>

        <div id="filter-table-appversion" class="row row1">
            <span class="table-show">Show:</span>
            <div id="filter-number" class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle btn-filternumber" type="button" aria-expanded="false">
                    <span id="span-show-number" class="span-button-select">18</span>
                    <span class="caret arow-button-select"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="show9">
                        <a href="#">9 Per page</a>
                    </li>
                    <li id="show18">
                        <a href="#">18 Per page</a>
                    </li>
                    <li id="show27">
                        <a href="#">27 Per page</a>
                    </li>
                    <li id="show36">
                        <a href="#">36 Per page</a>
                    </li>

                </ul>
            </div>
            <div class="pagination-table-appversion1 row">
                <ul class="pagination">
                    <li class="edit-li-pagination">
                        <a class="number-items" href="#"></a>
                    </li>
                    <li class="limitsuperback">
                        <a class="limitpagination" href="#">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="superback">
                        <a href="#">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="backpage">
                        <a href="#">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="limitback">
                        <a class="limitpagination" href="#">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="thispage" href="#">

                        </a>
                    </li>
                    <li class="edit-li-pagination">
                        <a class="numberpage" href="#">
                        </a>
                    </li>
                    <li class="limitnext">
                        <a class="limitpagination" href="#">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nextpage">
                        <a href="#">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="supernext">
                        <a href="#">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="limitsupernext">
                        <a class="limitpagination" href="#">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row row1">
            <div id="content-appversion">
                <table id="table-appversion">
                    <tr id="title-table-header">
                        <th width="7.8%">#</th>
                        <th width="33%">Payment Name
                        </th>
                        <th width="22.2%">Create Date
                        </th>
                        <th width="18.2%">Modified Date
                        </th>
                        <th width="13.8%">
                        </th>
                    </tr>
                    <tbody>
                        <%
                              function settime(a){
                                let offset = (new Date().getTimezoneOffset() / 60) * -1 ;
                                a = new Date(a + offset*3600000);
                                let month = a.getMonth() + 1;
                                let text = a.getDate() + "/" + month + "/" + a.getFullYear() + " " + a.getHours()+ ":" + a.getMinutes() + ":" + a.getSeconds();
                                return text;
                            }
                             %>
                             <input type="hidden" value="<%=(new Date().getTimezoneOffset() / 60) * -1 %>">
                            <%for(var i = 0; i< method.length;i++){ %>
                                <input type="hidden" class="id-method-use" value="<%= method[i].idMethod%>">
                                <tr id="version<%=i%>" class="tr-content-appversion set-method-affiliate">
                                    <td class="findcode">
                                        <%=i+1%>
                                    </td>
                                    <td class=" findversion">
                                        <%= method[i].method%>
                                    </td>
                                    <td class="table-version findnameapp">
                                        <%= settime(method[i].dateCreate)%>
                                    </td>
                                    <td class="table-changelog findnote">
                                        <% if(method[i].dateUpdate != null){ %>
                                            <%=settime(method[i].dateUpdate)%>
                                                <%}%>
                                    </td>
                                    <td class="set-position-relative">
                                        <img class="setimg-head-myapp deleteuser" src="/themes/img/dashboard/iconmenumore.png">
                                        <div class="delete-user" style="display:none">
                                            <a href="#" data-toggle="modal" data-target="#mymodal-deleteuser">
                                                <div class="element-delete">
                                                    <img class="imgicondelete" src="/themes/img/dashboard/icondelete.png">
                                                    <span>Delete</span>
                                                </div>
                                            </a>
                                            <div class="arrowmenuuser-left">
                                            </div>
                                            <div class="arrowmenuuser-left1">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
                    </tbody>
                </table>
                <div class="example">
                    <div class="container">
                        <div class="pagination-table-appversion row">
                            <ul class="pagination">
                                <li class="edit-li-pagination">
                                    <a class="number-items" href="#"></a>
                                </li>
                                <li class="limitsuperback">
                                    <a class="limitpagination" href="#">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="superback">
                                    <a href="#">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="backpage">
                                    <a href="#">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="limitback">
                                    <a class="limitpagination" href="#">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="thispage" href="#">

                                    </a>
                                </li>
                                <li class="edit-li-pagination">
                                    <a class="numberpage" href="#">
                                    </a>
                                </li>
                                <li class="limitnext">
                                    <a class="limitpagination" href="#">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nextpage">
                                    <a href="#">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="supernext">
                                    <a href="#">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="limitsupernext">
                                    <a class="limitpagination" href="#">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <span class="showing-footer">Showing 1-
                <span id="number-show-footer"></span> of
                <span class="number-items" href="#"></span>
            </span>
        </div>
        <div class="container ">
            <div class="modal fade" id="mymodal-deleteuser" role="dialog">
                <div class="modal-dialog  ">
                    <div class="modal-content1">
                        <div class="dialogdeleteapp">
                            <div class="dialogdeleteapp-head">
                                You definitely want to Delete this method ?
                            </div>
                            <div class="dialogdeleteapp-foot">
                                <button id="delete-ok">Delete</button>
                                <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/themes/js/affiliate/method/method.js"></script>
    <script type="text/javascript" charset="utf-8" src="/themes/js/dashboard/appversion/pagination.js"></script>