<% include ../dashboard/headerdetail %>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div class="content-title-detail has-feedback">
                <h3 class="textmyapp">Affiliate Report</h3>
            </div>
        </div>

        <%
        function set_money(a) {
            a = Number(a.toFixed(2));
            return "$" + a.toLocaleString('en');
        }

        function set_money_change(a) {
            if(a>=0){
                a = Number(a.toFixed(2));
                return "+ $" + a.toLocaleString('en');
            }else{
                a = Math.abs(a);
                a = Number(a.toFixed(2));
                return "- $" + a.toLocaleString('en');
            }
           
        }
        %>
            <div class="earning row row1">
                <div class="earning-by-time">
                    <div class="content-head-statistics ">
                        <span class="settext-h1-traffic ">Estimated earning</span>
                    </div>
                    <div class="item-earning-by-time">
                        <span>Early day</span>
                        <div class="text-money">
                            <%=set_money(earning.early_day)%>
                        </div>
                    </div>
                    <div class="item-earning-by-time">
                        <span>Yesterday</span>
                        <div class="text-money">
                            <%=set_money(earning.yesterday)%>
                        </div>
                        <div class="text-cent-money">
                            <%=set_money_change(earning.yesterday - earning.yesterday_old)%>
                        </div>
                        <div class="text-description">Compared to the same dat last week</div>
                    </div>
                    <div class="item-earning-by-time">
                        <span>Last 7 days</span>
                        <div class="text-money">
                            <%=set_money(earning.last_7_days)%>
                        </div>
                        <div class="text-cent-money">
                            <%=set_money_change(earning.last_7_days - earning.last_7_days_old)%>
                        </div>
                        <div class="text-description">Compared to the previous 7 days</div>
                    </div>
                    <div class="item-earning-by-time">
                        <span>Last 30 days</span>
                        <div class="text-money">
                            <%=set_money(earning.last_30_days)%>
                        </div>
                        <div class="text-cent-money">
                            <%=set_money_change(earning.last_30_days - earning.last_30_days_old)%>
                        </div>
                        <div class="text-description">Compared with the same period last 30 days</div>
                    </div>
                </div>
                <div class="total-earning">
                    <div class="set-icon-wallet">
                        <img src="/themes/img/affiliate/iconwallet.png" alt="money">
                    </div>
                    <div class="money-total-earning">
                        <%=set_money(earning.total)%>
                    </div>
                    <div class="description-total-earning">Remaining balance in your account</div>
                </div>
            </div>
            <div class="daily-traffic row row1">
                <div class="content-daily-traffic">
                    <div class="content-head-statistics ">
                        <span class="settext-h1-traffic ">Daily traffic</span>
                        <span class="graytext-h3 floatright setcusor dropbtn-traffic showmenu">
                            <div class="dropdown-custom">
                                <span class="selected-date"> Last 7 days</span>
                                <span class="caret"></span>
                                <div class="dropdown-traffic myDropdown-traffic" style="display: none">
                                    <div class="head-dropdaw">
                                        <span class="selected-date1">Today</span>
                                        <br>
                                        <span class="show-date">Sep 28,2017 - Sep 28,2017</span>
                                    </div>
                                    <a>Today</a>
                                    <a>Yesterday</a>
                                    <a>Last 7 days</a>
                                    <a>Last 30 days</a>
                                    <a>Last 90 days</a>
                                    <!-- <a>More preset ranges</a> -->
                                    <div id="selectime2" class="footer-dropdaw">
                                        <a>Custom...</a>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="header-daily-traffic">
                        <div class="item-earning-by-time">
                            <div>User</div>
                            <div class="light-large-gray">124</div>
                        </div>
                        <div class="item-earning-by-time">
                            <div>Session</div>
                            <div class="light-large-gray">224</div>
                        </div>
                        <div class="item-earning-by-time">
                            <div>Bounce Rate</div>
                            <div class="light-large-gray">59,24%</div>
                        </div>
                        <div class="item-earning-by-time">
                            <div>Session Duration</div>
                            <div class="light-large-gray">7m24s</div>
                        </div>
                    </div>
                    <div class="content-chart-daily-traffic">
                        <canvas id="chart-daily-traffic"></canvas>
                    </div>
                </div>
            </div>
            <div class="sale-traffic row row1">
                <div class="content-sale-traffic">
                    <div class="content-head-statistics ">
                        <span class="settext-h1-traffic ">Sales traffic</span>
                        <span class="graytext-h3 floatright setcusor dropbtn-traffic showmenu">
                            <div class="dropdown-custom">
                                <span class="selected-date"> Last 7 days</span>
                                <span class="caret"></span>
                                <div class="dropdown-traffic myDropdown-traffic" style="display: none">
                                    <div class="head-dropdaw">
                                        <span class="selected-date1">Today</span>
                                        <br>
                                        <span class="show-date">Sep 28,2017 - Sep 28,2017</span>
                                    </div>
                                    <a>Today</a>
                                    <a>Yesterday</a>
                                    <a>Last 7 days</a>
                                    <a>Last 30 days</a>
                                    <a>Last 90 days</a>
                                    <!-- <a>More preset ranges</a> -->
                                    <div id="selectime2" class="footer-dropdaw">
                                        <a>Custom...</a>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="header-daily-traffic">
                        <div class="item-earning-by-time">
                            <div>Orders weekly</div>
                            <div class="light-large-gray">79.97</div>
                        </div>
                        <div class="item-earning-by-time">
                            <div>Orders monthly</div>
                            <div class="light-large-gray">325.68</div>
                        </div>
                        <div class="item-earning-by-time">
                            <div>Average revenue</div>
                            <div class="light-large-gray">$32,353.04</div>
                        </div>
                    </div>
                    <div class="content-chart-daily-traffic">
                        <canvas id="chart-sale-traffic"></canvas>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/affiliate/report/daily.js"></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/affiliate/report/sale.js"></script>