<% include ../dashboard/headerdetail %>
    <div id="navigate-text">
        <a class="colora" href="/dashboard">
            <span>Home</span>
        </a>
        <span class="setarrownavigate">
            <img src="/themes/img/dashboard/iconarrowbreadcrumb.png">
        </span>
        <span id="text-href">Checkout</span>
    </div>
    </div>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div class="content-title-detail has-feedback">
                <h3 class="textmyapp">Checkout</h3>
            </div>
        </div>
        <div id="content-checkout">
            <div class="col-sm-8">
                <form id="form-checkout" onsubmit="return false">
                    <div class="left-content-checkout">
                        <div id="billing">
                            <div class="col-sm-12 set-title-billing">
                                <span>
                                    <span class="status-tast-1">1</span> Billing address</span>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">First Name *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-firstname" name="firstname" value="<%=user.firstname%>">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Last Name *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-lastname" name="lastname" value="<%=user.lastname%>">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr2" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Company *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-company" name="company">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr3" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Address *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-address" name="address" value="<%=user.address%>">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr4" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">City *</label>
                                    <input autocomplete="off" type="text" name="checkout-city" id="checkout-city" class="resetinputlogin" placeholder="Please enter at least 6 characters">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr5" src="" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">State *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-state" name="state">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Zip/Postal *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-zipcode" name="zipcode" value="<%=user.zipcode%>">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr7" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback" id="checkout-country5">
                                    <label class="control-label" for="inputSuccess2">Country *</label>
                                    <option id="checkout-country" value="US" class="resetoption clickcountry">
                                        United States
                                    </option>
                                    <span class="glyphicon glyphicon-triangle-bottom setarrowcountry clickcountry">
                                        <img class="seticoneye iconerr" id="iconeye" src="/themes/img/login/iconarrow.png" alt="">
                                    </span>
                                    <div id="country1">
                                        <option class="licountry" value="AF" class="init">Afghanistan</option>
                                        <option class="licountry" value="AX">&Aring;land Islands</option>
                                        <option class="licountry" value="AL">Albania</option>
                                        <option class="licountry" value="DZ">Algeria</option>
                                        <option class="licountry" value="AS">American Samoa</option>
                                        <option class="licountry" value="AD">Andorra</option>
                                        <option class="licountry" value="AO">Angola</option>
                                        <option class="licountry" value="AI">Anguilla</option>
                                        <option class="licountry" value="AQ">Antarctica</option>
                                        <option class="licountry" value="AG">Antigua and Barbuda</option>
                                        <option class="licountry" value="AR">Argentina</option>
                                        <option class="licountry" value="AM">Armenia</option>
                                        <option class="licountry" value="AW">Aruba</option>
                                        <option class="licountry" value="AU">Australia</option>
                                        <option class="licountry" value="AT">Austria</option>
                                        <option class="licountry" value="AZ">Azerbaijan</option>
                                        <option class="licountry" value="BS">Bahamas</option>
                                        <option class="licountry" value="BH">Bahrain</option>
                                        <option class="licountry" value="BD">Bangladesh</option>
                                        <option class="licountry" value="BB">Barbados</option>
                                        <option class="licountry" value="BY">Belarus</option>
                                        <option class="licountry" value="BE">Belgium</option>
                                        <option class="licountry" value="BZ">Belize</option>
                                        <option class="licountry" value="BJ">Benin</option>
                                        <option class="licountry" value="BM">Bermuda</option>
                                        <option class="licountry" value="BT">Bhutan</option>
                                        <option class="licountry" value="BO">Bolivia, Plurinational State of</option>
                                        <option class="licountry" value="BA">Bosnia and Herzegovina</option>
                                        <option class="licountry" value="BW">Botswana</option>
                                        <option class="licountry" value="BV">Bouvet Island</option>
                                        <option class="licountry" value="BR">Brazil</option>
                                        <option class="licountry" value="IO">British Indian Ocean Territory</option>
                                        <option class="licountry" value="BN">Brunei Darussalam</option>
                                        <option class="licountry" value="BG">Bulgaria</option>
                                        <option class="licountry" value="BF">Burkina Faso</option>
                                        <option class="licountry" value="BI">Burundi</option>
                                        <option class="licountry" value="KH">Cambodia</option>
                                        <option class="licountry" value="CM">Cameroon</option>
                                        <option class="licountry" value="CA">Canada</option>
                                        <option class="licountry" value="CV">Cape Verde</option>
                                        <option class="licountry" value="KY">Cayman Islands</option>
                                        <option class="licountry" value="CF">Central African Republic</option>
                                        <option class="licountry" value="TD">Chad</option>
                                        <option class="licountry" value="CL">Chile</option>
                                        <option class="licountry" value="CN">China</option>
                                        <option class="licountry" value="CX">Christmas Island</option>
                                        <option class="licountry" value="CC">Cocos (Keeling) Islands</option>
                                        <option class="licountry" value="CO">Colombia</option>
                                        <option class="licountry" value="KM">Comoros</option>
                                        <option class="licountry" value="CG">Congo</option>
                                        <option class="licountry" value="CD">Congo, the Democratic Republic of the</option>
                                        <option class="licountry" value="CK">Cook Islands</option>
                                        <option class="licountry" value="CR">Costa Rica</option>
                                        <option class="licountry" value="CI">C&ocirc;te d'Ivoire</option>
                                        <option class="licountry" value="HR">Croatia</option>
                                        <option class="licountry" value="CU">Cuba</option>
                                        <option class="licountry" value="CY">Cyprus</option>
                                        <option class="licountry" value="CZ">Czech Republic</option>
                                        <option class="licountry" value="DK">Denmark</option>
                                        <option class="licountry" value="DJ">Djibouti</option>
                                        <option class="licountry" value="DM">Dominica</option>
                                        <option class="licountry" value="DO">Dominican Republic</option>
                                        <option class="licountry" value="EC">Ecuador</option>
                                        <option class="licountry" value="EG">Egypt</option>
                                        <option class="licountry" value="SV">El Salvador</option>
                                        <option class="licountry" value="GQ">Equatorial Guinea</option>
                                        <option class="licountry" value="ER">Eritrea</option>
                                        <option class="licountry" value="EE">Estonia</option>
                                        <option class="licountry" value="ET">Ethiopia</option>
                                        <option class="licountry" value="FK">Falkland Islands (Malvinas)</option>
                                        <option class="licountry" value="FO">Faroe Islands</option>
                                        <option class="licountry" value="FJ">Fiji</option>
                                        <option class="licountry" value="FI">Finland</option>
                                        <option class="licountry" value="FR">France</option>
                                        <option class="licountry" value="GF">French Guiana</option>
                                        <option class="licountry" value="PF">French Polynesia</option>
                                        <option class="licountry" value="TF">French Southern Territories</option>
                                        <option class="licountry" value="GA">Gabon</option>
                                        <option class="licountry" value="GM">Gambia</option>
                                        <option class="licountry" value="GE">Georgia</option>
                                        <option class="licountry" value="DE">Germany</option>
                                        <option class="licountry" value="GH">Ghana</option>
                                        <option class="licountry" value="GI">Gibraltar</option>
                                        <option class="licountry" value="GR">Greece</option>
                                        <option class="licountry" value="GL">Greenland</option>
                                        <option class="licountry" value="GD">Grenada</option>
                                        <option class="licountry" value="GP">Guadeloupe</option>
                                        <option class="licountry" value="GU">Guam</option>
                                        <option class="licountry" value="GT">Guatemala</option>
                                        <option class="licountry" value="GG">Guernsey</option>
                                        <option class="licountry" value="GN">Guinea</option>
                                        <option class="licountry" value="GW">Guinea-Bissau</option>
                                        <option class="licountry" value="GY">Guyana</option>
                                        <option class="licountry" value="HT">Haiti</option>
                                        <option class="licountry" value="HM">Heard Island and McDonald Islands</option>
                                        <option class="licountry" value="VA">Holy See (Vatican City State)</option>
                                        <option class="licountry" value="HN">Honduras</option>
                                        <option class="licountry" value="HK">Hong Kong</option>
                                        <option class="licountry" value="HU">Hungary</option>
                                        <option class="licountry" value="IS">Iceland</option>
                                        <option class="licountry" value="IN">India</option>
                                        <option class="licountry" value="ID">Indonesia</option>
                                        <option class="licountry" value="IR">Iran, Islamic Republic of</option>
                                        <option class="licountry" value="IQ">Iraq</option>
                                        <option class="licountry" value="IE">Ireland</option>
                                        <option class="licountry" value="IM">Isle of Man</option>
                                        <option class="licountry" value="IL">Israel</option>
                                        <option class="licountry" value="IT">Italy</option>
                                        <option class="licountry" value="JM">Jamaica</option>
                                        <option class="licountry" value="JP">Japan</option>
                                        <option class="licountry" value="JE">Jersey</option>
                                        <option class="licountry" value="JO">Jordan</option>
                                        <option class="licountry" value="KZ">Kazakhstan</option>
                                        <option class="licountry" value="KE">Kenya</option>
                                        <option class="licountry" value="KI">Kiribati</option>
                                        <option class="licountry" value="KP">Korea, Democratic People's Republic of</option>
                                        <option class="licountry" value="KR">Korea, Republic of</option>
                                        <option class="licountry" value="KW">Kuwait</option>
                                        <option class="licountry" value="KG">Kyrgyzstan</option>
                                        <option class="licountry" value="LA">Lao People's Democratic Republic</option>
                                        <option class="licountry" value="LV">Latvia</option>
                                        <option class="licountry" value="LB">Lebanon</option>
                                        <option class="licountry" value="LS">Lesotho</option>
                                        <option class="licountry" value="LR">Liberia</option>
                                        <option class="licountry" value="LY">Libyan Arab Jamahiriya</option>
                                        <option class="licountry" value="LI">Liechtenstein</option>
                                        <option class="licountry" value="LT">Lithuania</option>
                                        <option class="licountry" value="LU">Luxembourg</option>
                                        <option class="licountry" value="MO">Macao</option>
                                        <option class="licountry" value="MK">Macedonia, the former Yugoslav Republic of</option>
                                        <option class="licountry" value="MG">Madagascar</option>
                                        <option class="licountry" value="MW">Malawi</option>
                                        <option class="licountry" value="MY">Malaysia</option>
                                        <option class="licountry" value="MV">Maldives</option>
                                        <option class="licountry" value="ML">Mali</option>
                                        <option class="licountry" value="MT">Malta</option>
                                        <option class="licountry" value="MH">Marshall Islands</option>
                                        <option class="licountry" value="MQ">Martinique</option>
                                        <option class="licountry" value="MR">Mauritania</option>
                                        <option class="licountry" value="MU">Mauritius</option>
                                        <option class="licountry" value="YT">Mayotte</option>
                                        <option class="licountry" value="MX">Mexico</option>
                                        <option class="licountry" value="FM">Micronesia, Federated States of</option>
                                        <option class="licountry" value="MD">Moldova, Republic of</option>
                                        <option class="licountry" value="MC">Monaco</option>
                                        <option class="licountry" value="MN">Mongolia</option>
                                        <option class="licountry" value="ME">Montenegro</option>
                                        <option class="licountry" value="MS">Montserrat</option>
                                        <option class="licountry" value="MA">Morocco</option>
                                        <option class="licountry" value="MZ">Mozambique</option>
                                        <option class="licountry" value="MM">Myanmar</option>
                                        <option class="licountry" value="NA">Namibia</option>
                                        <option class="licountry" value="NR">Nauru</option>
                                        <option class="licountry" value="NP">Nepal</option>
                                        <option class="licountry" value="NL">Netherlands</option>
                                        <option class="licountry" value="AN">Netherlands Antilles</option>
                                        <option class="licountry" value="NC">New Caledonia</option>
                                        <option class="licountry" value="NZ">New Zealand</option>
                                        <option class="licountry" value="NI">Nicaragua</option>
                                        <option class="licountry" value="NE">Niger</option>
                                        <option class="licountry" value="NG">Nigeria</option>
                                        <option class="licountry" value="NU">Niue</option>
                                        <option class="licountry" value="NF">Norfolk Island</option>
                                        <option class="licountry" value="MP">Northern Mariana Islands</option>
                                        <option class="licountry" value="NO">Norway</option>
                                        <option class="licountry" value="OM">Oman</option>
                                        <option class="licountry" value="PK">Pakistan</option>
                                        <option class="licountry" value="PW">Palau</option>
                                        <option class="licountry" value="PS">Palestinian Territory, Occupied</option>
                                        <option class="licountry" value="PA">Panama</option>
                                        <option class="licountry" value="PG">Papua New Guinea</option>
                                        <option class="licountry" value="PY">Paraguay</option>
                                        <option class="licountry" value="PE">Peru</option>
                                        <option class="licountry" value="PH">Philippines</option>
                                        <option class="licountry" value="PN">Pitcairn</option>
                                        <option class="licountry" value="PL">Poland</option>
                                        <option class="licountry" value="PT">Portugal</option>
                                        <option class="licountry" value="PR">Puerto Rico</option>
                                        <option class="licountry" value="QA">Qatar</option>
                                        <option class="licountry" value="RE">R&eacute;union</option>
                                        <option class="licountry" value="RO">Romania</option>
                                        <option class="licountry" value="RU">Russian Federation</option>
                                        <option class="licountry" value="RW">Rwanda</option>
                                        <option class="licountry" value="BL">Saint Barth&eacute;lemy</option>
                                        <option class="licountry" value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option class="licountry" value="KN">Saint Kitts and Nevis</option>
                                        <option class="licountry" value="LC">Saint Lucia</option>
                                        <option class="licountry" value="MF">Saint Martin (French part)</option>
                                        <option class="licountry" value="PM">Saint Pierre and Miquelon</option>
                                        <option class="licountry" value="VC">Saint Vincent and the Grenadines</option>
                                        <option class="licountry" value="WS">Samoa</option>
                                        <option class="licountry" value="SM">San Marino</option>
                                        <option class="licountry" value="ST">Sao Tome and Principe</option>
                                        <option class="licountry" value="SA">Saudi Arabia</option>
                                        <option class="licountry" value="SN">Senegal</option>
                                        <option class="licountry" value="RS">Serbia</option>
                                        <option class="licountry" value="SC">Seychelles</option>
                                        <option class="licountry" value="SL">Sierra Leone</option>
                                        <option class="licountry" value="SG">Singapore</option>
                                        <option class="licountry" value="SK">Slovakia</option>
                                        <option class="licountry" value="SI">Slovenia</option>
                                        <option class="licountry" value="SB">Solomon Islands</option>
                                        <option class="licountry" value="SO">Somalia</option>
                                        <option class="licountry" value="ZA">South Africa</option>
                                        <option class="licountry" value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option class="licountry" value="ES">Spain</option>
                                        <option class="licountry" value="LK">Sri Lanka</option>
                                        <option class="licountry" value="SD">Sudan</option>
                                        <option class="licountry" value="SR">Suriname</option>
                                        <option class="licountry" value="SJ">Svalbard and Jan Mayen</option>
                                        <option class="licountry" value="SZ">Swaziland</option>
                                        <option class="licountry" value="SE">Sweden</option>
                                        <option class="licountry" value="CH">Switzerland</option>
                                        <option class="licountry" value="SY">Syrian Arab Republic</option>
                                        <option class="licountry" value="TW">Taiwan, Province of China</option>
                                        <option class="licountry" value="TJ">Tajikistan</option>
                                        <option class="licountry" value="TZ">Tanzania, United Republic of</option>
                                        <option class="licountry" value="TH">Thailand</option>
                                        <option class="licountry" value="TL">Timor-Leste</option>
                                        <option class="licountry" value="TG">Togo</option>
                                        <option class="licountry" value="TK">Tokelau</option>
                                        <option class="licountry" value="TO">Tonga</option>
                                        <option class="licountry" value="TT">Trinidad and Tobago</option>
                                        <option class="licountry" value="TN">Tunisia</option>
                                        <option class="licountry" value="TR">Turkey</option>
                                        <option class="licountry" value="TM">Turkmenistan</option>
                                        <option class="licountry" value="TC">Turks and Caicos Islands</option>
                                        <option class="licountry" value="TV">Tuvalu</option>
                                        <option class="licountry" value="UG">Uganda</option>
                                        <option class="licountry" value="UA">Ukraine</option>
                                        <option class="licountry" value="AE">United Arab Emirates</option>
                                        <option class="licountry" value="GB">United Kingdom</option>
                                        <option class="licountry" value="US">United States</option>
                                        <option class="licountry" value="UM">United States Minor Outlying Islands</option>
                                        <option class="licountry" value="UY">Uruguay</option>
                                        <option class="licountry" value="UZ">Uzbekistan</option>
                                        <option class="licountry" value="VU">Vanuatu</option>
                                        <option class="licountry" value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option class="licountry" value="VN">Viet Nam</option>
                                        <option class="licountry" value="VG">Virgin Islands, British</option>
                                        <option class="licountry" value="VI">Virgin Islands, U.S.</option>
                                        <option class="licountry" value="WF">Wallis and Futuna</option>
                                        <option class="licountry" value="EH">Western Sahara</option>
                                        <option class="licountry" value="YE">Yemen</option>
                                        <option class="licountry" value="ZM">Zambia</option>
                                        <option class="licountry" value="ZW">Zimbabwe</option>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Mobiphone *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-mobiphone" name="mobiphone">
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr8" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Email Address *</label>
                                    <input autocomplete="off" type="text" class="resetinputlogin" id="checkout-email" name="mail">
                                    <span autocomplete="off" class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div id="payment">
                            <div class="col-sm-12 set-title-payment">
                                <span>
                                    <span class="status-tast-1">2</span> Payment Method</span>
                            </div>
                            <div class="item-select-payment">
                                <div class="col-sm-10">
                                    <label class="container-radio-custom">Paypal
                                        <br>
                                        <span class="set-text-description">Safe payment online. Credit card needed. Paypal account is not necessary</span>
                                        <input checked type="radio" name="notiradio" value="1">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    <img src="/themes/img/checkout/iconpaypal.png">
                                </div>
                            </div>
                            <!-- <div class="item-select-payment">
                            <div id="payment-credit-card" class="col-sm-9">
                                <label class="container-radio-custom">Credit Card
                                    <br>
                                    <span>Safe money stransfer using your bank account.
                                        <br> Visa, maestro, discover, american express.</span>
                                    <input type="radio" name="notiradio" value="1">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <img src="/themes/img/checkout/iconvisa.png" alt="icon visa">
                                <img src="/themes/img/checkout/iconcard1.png" alt="icon card">
                                <img src="/themes/img/checkout/iconcard2.png" alt="icon card">
                                <img src="/themes/img/checkout/iconcard3.png" alt="icon card">
                            </div>
                        </div> -->
                            <!-- <div class="col-sm-12 div-title-payment">
                            <span class="set-text-title-payment"> CARD DETAILS:</span>
                        </div>
                        <div id="paypal-detail">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Username *</label>
                                    <input type="text" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Password *</label>
                                    <input type="password" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="credit-card-detail">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Card type *</label>
                                    <input type="text" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Name on Card *</label>
                                    <input type="text" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="inputSuccess2">Card Number *</label>
                                    <input type="text" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback col-sm-6">
                                    <label class="control-label" for="inputSuccess2">Expery Date *</label>
                                    <input type="text" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                                <div class="form-group has-feedback col-sm-6">
                                    <label class="control-label" for="inputSuccess2">CVV *</label>
                                    <input type="text" class="resetinputlogin" name="zipcode" >
                                    <span class="form-control-feedback" aria-hidden="true">
                                        <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                                    </span>
                                </div>
                            </div>
                        </div> -->
                        </div>
                        <button type="submit" class="btn-blue-deploy btn-complate-checkout">Complate Checkout</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="right-content-checkout">
                    <div class="header-you-order">
                        <span>Your Cart</span>
                    </div>
                    <div class="content-modal-cart">
                        <% var tong = 0; %>
                            <%for(let i =0; i< cart.length;i++){%>
                                <% tong = tong + cart[i].cart.price*cart[i].count%>
                                    <div class="item-product-in-cart">
                                        <div class="left-content-product-in-cart">
                                            <img src="/themes/img/app-dashboard/<%=cart[i].cart.image%>">
                                        </div>
                                        <div class="right-content-product-in-cart">
                                            <span>
                                                <%=cart[i].cart.nameApp%>
                                            </span>
                                            <br>
                                            <span>
                                                <input hidden class="idApp-hidden" value="<%=cart[i].cart.idApp%>">
                                                <input hidden class="price-hidden" value="<%=cart[i].cart.price%>">
                                                <%="$" + cart[i].cart.price%>
                                            </span>
                                            <span class="set-text-olde-price">
                                                <%="$" + cart[i].cart.cost%>
                                            </span>
                                            <div class="border-add-product">
                                                <div class="set-btn-cart float-left reduce-product">-</div>
                                                <div class="set-input-add-product float-left number-product">
                                                    <%=cart[i].count%>
                                                </div>
                                                <div class="set-btn-cart float-left add-product">+</div>
                                                <div class="float-right">
                                                    <span class="price-product">
                                                        <%="$" + cart[i].cart.price*cart[i].count%>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="set-icon-delte-app-checkout" src="/themes/img/checkout/icondeletesmallv2.png">
                                    </div>
                                    <%}%>

                    </div>
                    <div class="set-div-promo">
                    </div>
                    <div class="footer-modal-cart">
                        <div class="div-total-price">
                            <span>Total</span>
                            <span class="float-right total-price-product">
                                <%="$" + tong%>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="promo-code">
                    <div class="col-sm-12">
                        <img src="/themes/img/checkout/iconpromocode.png">
                        <span class="set-text-promo-code">
                            PROMO CODE
                        </span>
                    </div>
                    <div class="form-group has-feedback col-sm-8 div-input-promo-code">
                        <input autocomplete="off" type="text" class="resetinputlogin" id="promo-code" name="promo">
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr9" src="" alt="">
                        </span>
                    </div>
                    <button id="apply-promo-code" class="btn-blue-deploy btn-complate-checkout col-sm-3">APPLY</button>
                </div>
                <div class="billing-address-complate display-none">
                    <div class="col-sm-12">
                        <span class="set-text-promo-code">
                            BILLING ADDRESS
                        </span>
                        <!-- <img src="/themes/img/checkout/iconpromocode.png"> -->
                    </div>
                    <div class="form-group has-feedback col-sm-8 div-input-promo-code">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/checkout/checkout.js"></script>