<% include ../layout/header %>
    <link rel="stylesheet" type="text/css" href="/themes/css/admin/withdraw.css">
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">Withdraw
            </span>

                <span class="setsearch">
                        <!-- onkeyup="searchFunc()" -->
                <input type="text"  id="inputsearch-customer" name="search" placeholder="Search...">
                <span class="form-control-feedback2 icon-search-top" aria-hidden="true">
                    <img src="/themes/img/admin/search.png">
                </span>
                </span>
            </div>
        </div>

        <div id="filter-table-appversion" class="row row1">
            <div class="filter-left">
                <span class="table-show">Show:</span>
                <div id="filter-number" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle btn-filternumber btn-shownum-perpage" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="span-show-number" class="span-button-select">9</span> &nbsp;
                    <span class="caret arow-button-select"></span>
                </button>
                    <ul class="dropdown-menu ">
                        <li id="show9perpage">
                            <a href="javascript:void(0)">9 Per page</a>
                        </li>
                        <li id="show18perpage">
                            <a href="javascript:void(0)">18 Per page</a>
                        </li>
                        <li id="show27perpage">
                            <a href="javascript:void(0)">27 Per page</a>
                        </li>
                        <li id="show36perpage">
                            <a href="javascript:void(0)">36 Per page</a>
                        </li>

                    </ul>
                </div>
                <div id="filter-date" class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="span-selcect-date" class="span-button-select">All Dates</span>
                        <span class="caret arow-button-select"></span>
                        <input type="hidden" id="type-fill-date" value="4">
                    </button>
                    <ul class="dropdown-menu">
                        <li id="filter-date-hoursago">
                            <a href="javascript:void(0)">Hours Ago</a>
                        </li>
                        <li id="filter-date-yesterday">
                            <a href="javascript:void(0)">Yesterday</a>
                        </li>
                        <li id="filter-date-lastweek">
                            <a href="javascript:void(0)">Last Week</a>
                        </li>
                        <li id="filter-date-all">
                            <a href="javascript:void(0)">All Dates</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="filter-date-custom">
                            <input type="hidden" id="filter-date-custom-start" value="">
                            <input type="hidden" id="filter-date-custom-end" value="">
                            <a href="javascript:void(0)">Custom...</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-page-right">
                <div class="pagination-table-deploy ">
                    <ul class="pagination">
                        <li class="edit-li-pagination">
                            <span id="totalitems" class="totalitems"></span>
                        </li>
                        <li class="btnfirstpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnprevpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                        </li>
                        <li class="edit-li-pagination">
                            <span class="totalpage totalpagetext" href="javascript:void(0)">
                        </span>
                        </li>
                        <li class="btnnextpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btnlastpage">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row row1">
            <div id="content-appversion">
                <table id="table-appversion">
                    <thead>
                        <tr id="title-table-header">
                            <th width="7.8%">#</th>
                            <th width="13%">Date
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="12.2%">Account
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="25.2%">Content
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="15.2%">Payment method
                                <!-- <img class="setarrow showmenuuser" src="/themes/img/login/iconarrow.png" alt="deployapp"> -->
                            </th>
                            <th width="10%">Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%var dem =1;%>
                            <%dataWithdraw.forEach((item)=>{%>
                                <tr class="tr-content-appversion trrecord">
                                    <td>
                                        <span class="numberorder"><%=dem%></span>
                                    </td>
                                    <td class="adminfilldate ">
                                        <span></span>
                                        <input type="hidden" class="admin-datecreate" value="<%=item.dateCreate%>">
                                    </td>
                                    <td>
                                        <span><%=item.accountHolder%></span>
                                    </td>
                                    <td>
                                        <span><%=item.content%></span>
                                    </td>
                                    <td>
                                        <span><%=item.method%></span>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <input class="getstatuspayment" hidden value=" <%=item.status%>">
                                            <input class="getcodeorder idwithdraw" hidden value=" <%=item.id%>">

                                            <% switch(item.statusWithdraw){
                                        case 1:%>
                                                <span class="paddingstatus orderblue statuspayment bgstatuspending" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="textstatus">
                                           Pending
                                        </span>
                                                <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt="">
                                                </span>
                                                <% break; 
                                        case 2: %>
                                                    <span class="paddingstatus orderblue statuspayment bgstatuscomplete" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="textstatus">
                                                   Completed
                                                </span>
                                                    <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt="">
                                                    </span>
                                                    <%break; 
                                            case 3:%>
                                                        <span class="paddingstatus orderblue statuspayment bgstatuscancel" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="textstatus">
                                                       Cancelled
                                                    </span>
                                                        <img class="arrowselecstatus" src="/themes/img/admin/arrow-downwhite.png" alt="">
                                                        </span>
                                                        <%break;} %>
                                                            <!-- <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span id="span-show-number" class="span-button-select">18</span>
                                                                <span class="caret arow-button-select"></span>
                                                            </button> -->
                                                            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-left selectstatuspayment">
                                                                <!-- <div class=" arrow-upper-order setarrowabot-upper-withdraw">
                                        </div> -->
                                                                <div class="arrow-under-order setarrowabot-under-withdraw">
                                                                </div>
                                                                <li value="1" id="status1" <%if(item.statusWithdraw==1){%>
                                                                    class="activestatus"
                                                                    <%}%>>
                                                                        <a>Pending</a>
                                                                </li>
                                                                <li value="2" id="status2" <%if(item.statusWithdraw==2){%>
                                                                    class="activestatus"
                                                                    <%}%>>
                                                                        <a>Completed</a>
                                                                </li>
                                                                <li value="3" id="status3" <%if(item.statusWithdraw==3){%>
                                                                    class="activestatus"
                                                                    <%}%>>
                                                                        <a>Cancelled</a>
                                                                </li>

                                                            </ul>

                                        </div>
                                    </td>
                                </tr>

                                <%dem++})%>
                    </tbody>
                </table>

            </div>

            <!-- Paging bottom -->
            <div class="box-paging-bottom">
                <div class="box-showitem-left">
                    <span>Showing </span> <span class="totalshowcurrent"></span> <span> of </span><span class="totalitems"></span>
                </div>
                <div class="box-paging-right">
                    <div class="pagination-table-deploy">
                        <ul class="pagination">
                            <li class="edit-li-pagination">
                                <span id="totalitems" class="totalitems"></span>
                            </li>
                            <li class="btnfirstpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="btnprevpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="currentpage currentpagetext" href="javascript:void(0)"></a>
                            </li>
                            <li class="edit-li-pagination">
                                <span class="totalpage totalpagetext" href="javascript:void(0)">
                                        </span>
                            </li>
                            <li class="btnnextpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="btnlastpage">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Close -->
            <div class="container">
                <div class="modal fade" id="mymodal-deleteuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to Delete this account?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="delete-ok">Delete</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal fade" id="mymodal-deleteusermulti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to delete the selected accounts?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="delete-ok-multi" class="btn-delete-ok">Delete</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-blockuser">
                <div class="modal fade" id="mymodal-blockuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to block the accounts you have selected?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="block-ok" class="btn-block-ok">Block</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container box-blockuser">
                <div class="modal fade" id="mymodal-blockusermulti" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to block the accounts you have selected?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="block-ok-multi" class="btn-block-ok">Block</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container box-unblockuser">
                <div class="modal fade" id="mymodal-unblockuser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    Are you sure you want to unblock this account?
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button id="unblock-ok">Unblock</button>
                                    <button type="button" id="close-ok" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal fade" id="mymodal-warring" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head">
                                    No item selected!
                                </div>
                                <div class="dialogdeleteapp-foot">
                                    <button type="button" data-dismiss="modal" aria-label="Close" id="ok-empty">Ok</button>
                                    <!-- <button type="button "  data-dismiss="modal " aria-label="Close ">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="modal fade " id="myModa-adduser" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content1">
                            <div class="dialogdeleteapp">
                                <div class="dialogdeleteapp-head-history ">
                                    Add a User
                                </div>
                                <form id="form-adduser" onsubmit="return false">
                                    <textarea placeholder="Email address" rows="1" class="textarea-adduser" id="input-add-customer"></textarea>
                                    <div class="dialogdeleteapp-foot-history ">
                                        <button id="cancel-adduser" class="float-right btn-gray margin-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                                        <button type="submit" class="float-right btn-blue" id="adduser">Add user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
    </div>

    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/withdraw.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/paging.js "></script>
    <script type="text/javascript " charset="utf-8 " src="/themes/js/admin/breadcrumb.js "></script>
    <script type="text/javascript">
        // getPagination('#table-appversion');
        //getPagination('.table-class');
        //getPagination('table');
    </script>
    <!-- <script type="text/javascript " charset="utf-8 " src="/themes/js/dashboard/appversion/pagination.js "></script> -->